Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$

chore(format): ruff-format services.py after metrics fix
  researcharr/core/services.py
Due: multi-version-test

deploy: 2282b4a6f6e22030042dac098bef7040dfca0c97
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

fix(metrics): avoid initial request side-effect; inline status_code coercion
  researcharr/core/services.py
Due: multi-version-test

deploy: 71daf3a57d5a8bc03e08b383b6bbbbfdb587ce0c
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

fix(metrics): add class-level test_client wrapper for CI Mock leakage
  researcharr/core/services.py
Due: multi-version-test

fix(metrics): class-level wrapper delegates to _wrapped_test_client
  researcharr/core/services.py
Due: multi-version-test

deploy: e1e501035b826580404b3d34a0a4c6f9c7f1b4d5
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

fix(metrics): force final test_client wrapper to coerce Mock status_code in CI
  researcharr/core/services.py
Due: multi-version-test

chore(format): apply ruff-format adjustments to final metrics test_client wrapper
  researcharr/core/services.py
Due: multi-version-test

deploy: 0e032d9426ed38d3f5233f42e47e50c84cf06404
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

fix(metrics): prevent recursion in test_client wrapper and avoid class-level mutation
  researcharr/core/services.py
Due: multi-version-test

deploy: 1cdc07e1306d43108e7dde8d53754d4c24d4224a
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

chore(ci): add CI-guarded diagnostics to create_metrics_app
  researcharr/core/services.py
Due: multi-version-test

chore: apply pre-commit fixes for CI diagnostics
  researcharr/core/services.py
Due: multi-version-test

deploy: c8e4a704da4c775e6cc3c26d38af2c6a32ee2f56
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

chore(lint): apply ruff suggestion to services diagnostics
  researcharr/cache.py
  researcharr/core/services.py
  tests/core/test_cache_enhanced.py
Due: multi-version-test

Fix pytest version compatibility and linter issues
  .github/scripts/debug_imports.py
  .secrets.baseline
  .vscode/tasks.json
  factory.py
  plugins/registry.py
  pyproject.toml
  requirements-dev.txt
  researcharr/__init__.py
  researcharr/_factory_proxy.py
  researcharr/cache.py
  researcharr/factory.py
  researcharr/plugins/registry.py
  scripts/ci-multi-version.sh
Due: multi-version-test, shellcheck

deploy: a143126ce106fb0fcbd96cd690f86eb731633896
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Fix CI: Add build dependency to linting/pytest placeholders
  .github/workflows/ci.yml
Due: none

deploy: 2a90fb8895c9972415f9dabaeed4c1808b9f6fc2
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Skip Flask metrics tests on Python 3.10
  tests/core/test_core_services.py
Due: multi-version-test

deploy: e5994ce4d6933bbe40786dbdfa8c5071379f5e05
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Fix CI pre-commit hook failures
  scripts/ci-multi-version.sh
  scripts/run-pyright-precommit.sh
  scripts/run-safety-precommit.sh
Due: shellcheck

deploy: ec266430e128787bad595b747106b332f606095e
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Skip safety and basedpyright hooks in CI
  scripts/run-pyright-precommit.sh
  scripts/run-safety-precommit.sh
Due: shellcheck

deploy: 368bdee9552b621437fe00201e88551beebdcdd5
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Fix basedpyright CI detection to skip when only npx available
  scripts/run-pyright-precommit.sh
Due: shellcheck

deploy: fabb436bec82a02d4bc8d33374b3b30163d5934d
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Fix GitHub Actions linter warnings for CODECOV_TOKEN access
  .github/workflows/ci.yml
Due: none

deploy: d026927309adacb576e01b72aec8072b58548ae7
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Fix create_app() returning None in CI
  researcharr/factory.py
Due: multi-version-test

deploy: b6011b97a331032dadd2c9ec028020c761b82b6c
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Fix create_app() to never return None - use safe fallback wrapper
  researcharr/factory.py
Due: multi-version-test

deploy: 9fbc5c714f10357c143f348e3b90b00beaf24c27
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Add test isolation to prevent create_metrics_app mock leakage
  tests/conftest.py
Due: multi-version-test

Apply pre-commit formatting fixes
  researcharr/factory.py
  tests/conftest.py
Due: multi-version-test

deploy: f18e20f14693ae778775871cca74976c6f401c20
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Fix factory fallback to re-raise exceptions from create_app
  researcharr/factory.py
Due: multi-version-test

deploy: 1432d8086f36c1f9aadf3cf8c447f48ec274da61
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

deploy: 266aa0f6b12b94a05c4b3ad305906b237913e601
  previews/feature-data_storage_and_repository_llayer/404.html
  previews/feature-data_storage_and_repository_llayer/API/index.html
  previews/feature-data_storage_and_repository_llayer/Backup-and-Recovery/index.html
  previews/feature-data_storage_and_repository_llayer/CI-and-Development/index.html
  previews/feature-data_storage_and_repository_llayer/CLI-Usage/index.html
  previews/feature-data_storage_and_repository_llayer/CONFIGURATION/index.html
  previews/feature-data_storage_and_repository_llayer/Changelog/index.html
  previews/feature-data_storage_and_repository_llayer/Contributing/index.html
  previews/feature-data_storage_and_repository_llayer/Coverage-CI-Local-Differences/index.html
  previews/feature-data_storage_and_repository_llayer/Coverage-Gutters-Example-Comparison/index.html
  previews/feature-data_storage_and_repository_llayer/Coverage-Gutters-Quick-Reference/index.html
  previews/feature-data_storage_and_repository_llayer/Coverage-Gutters-Quick-Start/index.html
  previews/feature-data_storage_and_repository_llayer/Coverage-Gutters-Setup/index.html
  previews/feature-data_storage_and_repository_llayer/DEV/index.html
  previews/feature-data_storage_and_repository_llayer/Deployment-and-Resources/index.html
  previews/feature-data_storage_and_repository_llayer/Environment-Variables/index.html
  previews/feature-data_storage_and_repository_llayer/FAQ/index.html
  previews/feature-data_storage_and_repository_llayer/Getting-Started/index.html
  previews/feature-data_storage_and_repository_llayer/Health-and-Metrics/index.html
  previews/feature-data_storage_and_repository_llayer/Integrations/index.html
  previews/feature-data_storage_and_repository_llayer/Logs/index.html
  previews/feature-data_storage_and_repository_llayer/Packaging-and-Distribution/index.html
  previews/feature-data_storage_and_repository_llayer/Plugins/index.html
  previews/feature-data_storage_and_repository_llayer/Recent-Changes/index.html
  previews/feature-data_storage_and_repository_llayer/Renovate-Configuration/index.html
  previews/feature-data_storage_and_repository_llayer/Roadmap/index.html
  previews/feature-data_storage_and_repository_llayer/SERVICES_ARCHITECTURE/index.html
  previews/feature-data_storage_and_repository_llayer/Status-and-Warnings/index.html
  previews/feature-data_storage_and_repository_llayer/Versioning/index.html
  previews/feature-data_storage_and_repository_llayer/css/theme_extra.css
  previews/feature-data_storage_and_repository_llayer/index.html
  previews/feature-data_storage_and_repository_llayer/js/theme.js
  previews/feature-data_storage_and_repository_llayer/sitemap.xml.gz
Due: none
