Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*

fix: improve module reconciliation logic to prioritize package-local implementations over top-level modules
  researcharr/__init__.py
Due: multi-version-test, detect-secrets

fix: add bisect/replay artifacts to .dockerignore
  .dockerignore
Due: detect-secrets

fix: update .gitignore to include additional artifacts and temporary files
  .gitignore
Due: detect-secrets

fix: add patterns to .gitignore for bisect and junit artifacts
  .gitignore
Due: detect-secrets

fix: add initial file to the project
  0
Due: detect-secrets

fix: refine module import handling to prevent overwriting sys.modules entries
  backups.py
Due: multi-version-test, detect-secrets

fix: add bisect/replay artifacts to codecov ignore list
  codecov.yml
Due: detect-secrets

fix: add conftest.py for custom pytest ordering based on node IDs
  conftest.py
Due: multi-version-test, detect-secrets

feat: implement XML parsing to generate ordering of test cases
  extract_ordering.py
Due: multi-version-test, detect-secrets

Implement feature X to enhance user experience and optimize performance
  ordering_nodeids_window.txt
Due: detect-secrets

Implement feature X to enhance user experience and optimize performance
  ordering_nodeids.full.txt
Due: detect-secrets

Implement feature X to enhance user experience and fix bug Y in module Z
  ordering_nodeids.txt
Due: detect-secrets

Implement feature X to enhance user experience and optimize performance
  ordering.txt
Due: detect-secrets

fix: update YAML configuration to include pinned workflows for GitHub Actions
  researcharr.code-workspace
Due: detect-secrets

chore: add pytest configuration file for testing setup
  tmp_pytest.ini
Due: detect-secrets

fix: resolve YAML lint warnings in registry.py
  researcharr/plugins/registry.py
Due: multi-version-test, detect-secrets

fix: improve debug output formatting in cmd_run_job function
  researcharr/cli.py
Due: multi-version-test, detect-secrets

fix: improve subprocess handling and code formatting in replay_prefix_bisect.py
  scripts/replay_prefix_bisect.py
Due: multi-version-test, detect-secrets

fix: remove unused imports in capture_run_job_all_loggers.py
  tests/_debug/capture_run_job_all_loggers.py
Due: multi-version-test

fix: standardize string quotes and improve code formatting in conftest.py
  tests/_debug/conftest.py
Due: multi-version-test

fix: improve code formatting in diagnostics_handlers_detail.py
  tests/_debug/diagnostics_handlers_detail.py
Due: multi-version-test

fix: clean up code formatting and standardize string quotes in diagnostics_logger_and_registry.py
  tests/_debug/diagnostics_logger_and_registry.py
Due: multi-version-test

fix: standardize string quotes in print_root_flags.py
  tests/_debug/print_root_flags.py
Due: multi-version-test

fix: add missing check flag in subprocess.run and clean up imports in test_logger_state.py
  tests/_debug/test_logger_state.py
Due: multi-version-test

fix: replace setattr with direct assignment for backups in test_backups_identity_reconciliation
  tests/package/test_package_shim_reconciliation.py
Due: multi-version-test

fix: reorganize imports and clean up unused code in test_processing_log_cleanup.py
  tests/repositories/test_processing_log_cleanup.py
Due: multi-version-test

fix: prevent recursion errors by avoiding double-wrapping importlib.reload in long test runs
  researcharr/__init__.py
Due: multi-version-test, detect-secrets

fix: replace setattr with direct assignment for create_metrics_app in test_root_researcharr_comprehensive.py
  tests/root/test_root_researcharr_comprehensive.py
Due: multi-version-test

fix: clean up import statements and improve formatting in conftest.py
  tests/conftest.py
Due: multi-version-test

fix: enhance test_factory_proxy_failure.py by improving module restoration and error handling
  tests/package/test_factory_proxy_failure.py
Due: multi-version-test

fix: improve resilience of test_updates_upgrade_in_image_and_invalid_url by handling module import variations
  tests/factory/test_factory_batch5.py
Due: multi-version-test

fix: enhance logger reset functionality in _reset_logger_levels_before_and_after_test to ensure proper logging behavior during tests
  tests/conftest.py
Due: multi-version-test

fix: prevent recursion errors by avoiding double-wrapping importlib.reload during long test runs
  researcharr/__init__.py
Due: multi-version-test, detect-secrets

fix: update factory restoration method in test_factory_proxy_failure to use direct attribute assignment
  tests/package/test_factory_proxy_failure.py
Due: multi-version-test

fix: add missing import statement for logging in _reset_logger_levels_before_and_after_test
  tests/conftest.py
Due: multi-version-test

fix: add comments to clarify allowlisting for detect-secrets in save_user_config test
  tests/package/test_webui_shim_pkg.py
Due: multi-version-test

fix: clear developer triage environment variables for consistent CI behavior
  scripts/test-ci-smoke.sh
Due: shellcheck, detect-secrets

fix: enhance XML parsing and output handling in extract_ordering and replay_prefix_bisect scripts
  extract_ordering.py
  scripts/replay_prefix_bisect.py
Due: multi-version-test, detect-secrets

fix: reorder defusedxml import and defuse_stdlib call for clarity
  extract_ordering.py
Due: multi-version-test, detect-secrets
