Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$

feat: add package-lock.json for dependency management
  .secrets.baseline
  package-lock.json
Due: none

feat: add initial package.json for project configuration
  package.json
Due: none

feat(coverage): adjust coverage source to package only and lower fail_under threshold temporarily
  pyproject.toml
Due: none

refactor(pyrightconfig): reorganize configuration for clarity and consistency
  pyrightconfig.json
Due: none

feat(requirements): replace black with ruff and clean up optional packages
  requirements-dev.txt
Due: none

feat(requirements): remove mypy and mypy_extensions from frozen requirements
  requirements-frozen.txt
Due: none

feat(requirements): add pipeline dependencies to extras_require in setup.cfg
  setup.cfg
Due: none

feat(imports): enhance module loading to support package-qualified modules and preserve module identity
  researcharr/__init__.py
Due: multi-version-test

feat(imports): reconcile module objects for top-level modules to reduce import-order flakiness
  researcharr/__init__.py
Due: multi-version-test

feat(imports): enhance package-qualified module handling to prefer existing modules and maintain attribute accessibility
  researcharr/__init__.py
Due: multi-version-test

feat(imports): ensure package-qualified module names point to the correct top-level module object for consistent import behavior
  researcharr/__init__.py
Due: multi-version-test

feat(imports): canonicalize module names to ensure consistent loading and reloading behavior
  researcharr/__init__.py
Due: multi-version-test

feat(imports): register module objects in sys.modules before execution to ensure canonical identity and prevent loader conflicts
  researcharr/__init__.py
Due: multi-version-test

feat(imports): prefer existing top-level modules and register them under package-qualified names for consistent import behavior
  researcharr/__init__.py
Due: multi-version-test

feat(imports): ensure stable create_app symbol exposure in researcharr.factory during import variations
  researcharr/__init__.py
Due: multi-version-test

feat(create_app): enhance installation of create_app helpers with direct insertion to avoid proxy issues
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(install_create_app_helpers): enhance factory module registration to ensure immediate access to create_app
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(install_create_app_helpers): enhance factory module handling to ensure immediate access to create_app and improve diagnostic logging
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(install_create_app_helpers): improve create_app exposure and stability in factory module
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(install_create_app_helpers): ensure stable create_app exposure in module and proxy instances
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(install_create_app_helpers): enhance attribute resolution to avoid None placeholders in create_app helpers
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(install_create_app_helpers): defer installation of create_app helpers to ensure stability after module reconciliation
  researcharr/__init__.py
Due: multi-version-test

feat(install_create_app_helpers): add diagnostic logging for create_app attribute access in factory module
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(install_create_app_helpers): enhance logging for create_app attribute access in proxy module
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(run-pytest-precommit): add --full-trace option for improved debugging in pre-commit pipeline
  scripts/run-pytest-precommit.sh
Due: shellcheck

feat(create_proxies): add placeholder for create_app to ensure callable availability
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(tests): ensure repository root is in sys.path for deterministic imports
  tests/conftest.py
Due: multi-version-test

feat(init): ensure implementation module has __path__ for proper reloading of submodules
  researcharr/__init__.py
Due: multi-version-test

feat(__getattr__): compute package-qualified name using __name__ for accurate imports and ensure proper __spec__ for reload
  researcharr/__init__.py
Due: multi-version-test

feat(__init__): enhance module loading and normalization for package-qualified names to improve import reliability
  researcharr/__init__.py
Due: multi-version-test

refactor(tests): use setattr for module attribute assignments in test shims
  tests/test_package_shims.py
Due: multi-version-test

feat(__init__): implement module attribute reconciliation for top-level imports to ensure consistent access and reload behavior
  researcharr/__init__.py
Due: multi-version-test

feat(__init__): enhance attribute access reconciliation and ensure proper module spec handling for submodules
  researcharr/__init__.py
Due: multi-version-test

feat(__init__): normalize module names by correcting 'researcharr.researcharr.' prefixes to 'researcharr.' for improved import consistency
  researcharr/__init__.py
Due: multi-version-test

feat(_factory_proxy): enhance proxy creation logic to prevent overriding real modules and ensure consistent attribute access
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(factory): enhance create_backup_file resolution logic to prioritize test stubs and ensure consistent callable retrieval
  factory.py
Due: multi-version-test

feat(__init__): ensure `researcharr.backups` resolves to a real module object in constrained import scenarios
  researcharr/__init__.py
Due: multi-version-test

feat(factory): prefer module-level delegator for `_create_backup_file` to honor pytest monkeypatching semantics
  factory.py
Due: multi-version-test

feat(backups): enhance module import stability for reload friendliness under package-qualified names
  backups.py
Due: multi-version-test

feat(__init__): enhance module mapping and reload behavior for improved stability and consistency
  researcharr/__init__.py
Due: multi-version-test
