Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*

feat: implement AsyncWorker and AsyncWorkerPool for job processing
  researcharr/core/jobs/async_worker.py
Due: multi-version-test, detect-secrets

feat: add asynchronous job handlers for backup operations
  researcharr/core/jobs/handlers_backups.py
Due: multi-version-test, detect-secrets

feat: add abstract interface for job queue implementations
  researcharr/core/jobs/queue.py
Due: multi-version-test, detect-secrets

feat: implement Redis-based job queue for distributed task management
  researcharr/core/jobs/redis_queue.py
Due: multi-version-test, detect-secrets

feat: add JobService for managing job orchestration and processing
  researcharr/core/jobs/service.py
Due: multi-version-test, detect-secrets

feat: add type definitions for job queue system including JobStatus, JobPriority, JobDefinition, JobResult, and JobProgress
  researcharr/core/jobs/types.py
Due: multi-version-test, detect-secrets

feat: add WorkerPool and WorkerInfo classes for managing worker processes
  researcharr/core/jobs/worker.py
Due: multi-version-test, detect-secrets

feat: update __init__.py to include job queue system components in the module exports
  researcharr/core/__init__.py
Due: multi-version-test, detect-secrets

feat: add job queue initialization to CoreApplicationFactory
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

feat: add job-related event constants to Events class
  researcharr/core/events.py
Due: multi-version-test, detect-secrets

feat: add integration tests for backup job handlers
  tests/test_jobs_backups.py
Due: multi-version-test

feat: add comprehensive tests for job queue system and job service integration
  tests/test_jobs.py
Due: multi-version-test

feat: add asynchronous job submission for backup creation and restoration
  factory.py
Due: multi-version-test, detect-secrets

feat: add comprehensive job queue reference documentation
  JOB_QUEUE_REFERENCE.md
Due: detect-secrets

feat: add job queue implementation summary with core components, testing, and documentation
  ISSUE_109_IMPLEMENTATION_SUMMARY.md
Due: detect-secrets

feat: add job queue integration summary with completed tasks, API endpoints, and event bus integration details
  JOB_QUEUE_INTEGRATION_SUMMARY.md
Due: detect-secrets

feat: update pytest configuration for improved test execution and coverage threshold
  pyproject.toml
Due: detect-secrets

feat: add redis dependency to requirements.txt for job queue functionality
  requirements.txt
Due: detect-secrets

feat: add API endpoints for pruning and validating backups with job queue support
  factory.py
Due: multi-version-test, detect-secrets

feat: add integration tests for backup pruning and validation jobs
  tests/test_jobs_backups.py
Due: multi-version-test

feat: enhance backup prune job test with unique prefixes and fallback pruning
  tests/test_jobs_backups.py
Due: multi-version-test

feat: implement background task manager for in-process task execution
  researcharr/core/background.py
Due: multi-version-test, detect-secrets

feat: add lightweight background task manager when job queue is disabled
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

feat: integrate event bus with lightweight background task manager
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

feat: enhance BackgroundTaskManager with event bus integration and task serialization
  researcharr/core/background.py
Due: multi-version-test, detect-secrets

feat: enhance backup management by integrating background task manager and job queue fallback
  factory.py
Due: multi-version-test, detect-secrets

feat: add unit tests for BackgroundTaskManager functionality
  tests/test_background_tasks.py
Due: multi-version-test

feat: add cancellation support to BackgroundTaskManager
  researcharr/core/background.py
Due: multi-version-test, detect-secrets

feat: add API endpoint to cancel background tasks
  factory.py
Due: multi-version-test, detect-secrets

feat: add tests for cancelling pending and running background tasks
  tests/test_background_tasks.py
Due: multi-version-test

feat: enhance cancellation logic for pending background tasks
  researcharr/core/background.py
Due: multi-version-test, detect-secrets

feat: enhance task cancellation logic to handle pending tasks
  researcharr/core/background.py
Due: multi-version-test, detect-secrets

feat: improve task cancellation handling and add debug logging
  researcharr/core/background.py
Due: multi-version-test, detect-secrets

feat: implement scheduled job promotion and enhance job queuing logic
  researcharr/core/jobs/redis_queue.py
Due: multi-version-test, detect-secrets

feat: add scheduled_at attribute to JobDefinition for job eligibility timing
  researcharr/core/jobs/types.py
Due: multi-version-test, detect-secrets

feat: add tests for immediate priority order and future job scheduling
  tests/test_job_scheduling.py
Due: multi-version-test

feat: add scheduled_at parameter to job submission for timing control
  researcharr/core/jobs/service.py
Due: multi-version-test, detect-secrets

feat: add scheduled_at handling in job submission for improved timing control
  researcharr/core/jobs/api.py
Due: multi-version-test, detect-secrets

feat: improve priority scoring logic in job queue for better task ordering
  researcharr/core/jobs/redis_queue.py
Due: multi-version-test, detect-secrets

fix: reorder import statements and improve print formatting in job queue integration example
  examples/job_queue_integration.py
Due: multi-version-test, detect-secrets
