Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*

refactor: reorder import statements for improved clarity and organization
  researcharr/core/jobs/__init__.py
Due: multi-version-test, detect-secrets

feat: convert job API functions to async for improved performance and responsiveness
  researcharr/core/jobs/api.py
Due: multi-version-test, detect-secrets

refactor: reorganize import statements for improved clarity and consistency
  researcharr/core/jobs/handlers_backups.py
Due: multi-version-test, detect-secrets

refactor: reorder import statements for improved organization
  researcharr/core/jobs/service.py
Due: multi-version-test, detect-secrets

refactor: move job queue imports to improve organization
  researcharr/core/__init__.py
Due: multi-version-test, detect-secrets

refactor: reorder import statements for improved organization
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

refactor: update type hints for improved clarity and consistency
  researcharr/core/background.py
Due: multi-version-test, detect-secrets

refactor: reorganize import statements for improved clarity
  tests/test_background_tasks.py
Due: multi-version-test

refactor: reorder import statements for improved organization
  tests/test_job_scheduling.py
Due: multi-version-test

refactor: reorder job service imports for improved organization
  tests/test_jobs_backups.py
Due: multi-version-test

refactor: update type hints for RedisClient for improved clarity
  researcharr/core/jobs/redis_queue.py
Due: multi-version-test, detect-secrets

refactor: enhance event callback handling in AsyncWorker for improved reliability
  researcharr/core/jobs/async_worker.py
Due: multi-version-test, detect-secrets

refactor: update type hint for get_metrics method for improved clarity
  researcharr/core/jobs/worker.py
Due: multi-version-test, detect-secrets

refactor: optimize Redis pipeline usage by removing unnecessary await statements
  researcharr/core/jobs/redis_queue.py
Due: multi-version-test, detect-secrets

refactor: update Sourcery task labels and enhance Vulture dead code scan configuration
  .vscode/tasks.json
Due: detect-secrets

refactor: simplify handler retrieval and improve heartbeat logic in AsyncWorker and AsyncWorkerPool
  researcharr/core/jobs/async_worker.py
Due: multi-version-test, detect-secrets

refactor: streamline job ID pagination and optimize status count calculation in RedisJobQueue
  researcharr/core/jobs/redis_queue.py
Due: multi-version-test, detect-secrets

refactor: improve response status handling in health check and simplify notification body formatting
  researcharr/core/api.py
Due: multi-version-test, detect-secrets

refactor: streamline configuration validation and user config handling in CoreApplicationFactory
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

refactor: remove unnecessary whitespace in JOB_QUEUE_DESIGN.md for improved readability
  docs/architecture/JOB_QUEUE_DESIGN.md
Due: detect-secrets

refactor: remove unnecessary whitespace in JOB_QUEUE_QUICKSTART.md for improved readability
  docs/JOB_QUEUE_QUICKSTART.md
Due: detect-secrets

refactor: improve formatting of result output in job event bus integration example
  examples/job_eventbus_integration.py
Due: multi-version-test, detect-secrets

refactor: streamline lambda usage in cleanup_database_job for improved readability
  examples/job_queue_integration.py
Due: multi-version-test, detect-secrets

refactor: improve code formatting and readability across job management modules
  researcharr/core/jobs/__init__.py
  researcharr/core/jobs/api.py
  researcharr/core/jobs/async_worker.py
  researcharr/core/jobs/handlers_backups.py
  researcharr/core/jobs/redis_queue.py
  researcharr/core/jobs/service.py
  researcharr/core/jobs/worker.py
Due: multi-version-test, detect-secrets

refactor: enhance code readability and formatting across multiple modules
  researcharr/core/application.py
  researcharr/core/background.py
  researcharr/core/config.py
  researcharr/core/config_validator.py
  researcharr/core/container.py
  researcharr/core/lifecycle.py
  researcharr/core/logging.py
  researcharr/core/services.py
Due: multi-version-test, detect-secrets

refactor: simplify conditional assignments in backup and database health monitors
  researcharr/monitoring/backup_monitor.py
  researcharr/monitoring/database_monitor.py
Due: multi-version-test, detect-secrets

refactor: streamline conditional assignments in plugin registry for improved readability
  researcharr/plugins/registry.py
Due: multi-version-test, detect-secrets

refactor: simplify entity deletion logic and enhance readability across multiple repositories
  researcharr/repositories/base.py
  researcharr/repositories/global_settings.py
  researcharr/repositories/managed_app.py
  researcharr/repositories/processing_log.py
  researcharr/repositories/search_cycle.py
  researcharr/repositories/tracked_item.py
  researcharr/repositories/uow.py
Due: multi-version-test, detect-secrets

refactor: streamline backup file creation logic for improved readability
  researcharr/scheduling/backup_scheduler.py
Due: multi-version-test, detect-secrets

refactor: simplify image tag suggestion logic for improved readability
  researcharr/storage/recovery.py
Due: multi-version-test, detect-secrets

refactor: simplify conditional expressions and enhance readability across multiple modules
  researcharr/__init__.py
  researcharr/_backups_impl.py
  researcharr/_factory_proxy.py
  researcharr/_package_helpers.py
  researcharr/async_pipeline.py
  researcharr/backup_restore.py
  researcharr/backups_impl.py
  researcharr/cli.py
  researcharr/db.py
  researcharr/factory.py
  researcharr/researcharr.py
  researcharr/webui.py
Due: multi-version-test, detect-secrets

refactor: improve list comprehension formatting for better readability in job tests
  tests/test_background_tasks.py
  tests/test_jobs.py
  tests/test_jobs_backups.py
Due: multi-version-test

refactor: improve readability of job submission logic in create_app function
  factory.py
Due: multi-version-test, detect-secrets

refactor: improve formatting and readability in implementation summary
  ISSUE_109_IMPLEMENTATION_SUMMARY.md
Due: detect-secrets

refactor: streamline test execution commands and improve job handler documentation
  .vscode/tasks.json
  JOB_QUEUE_REFERENCE.md
  scripts/run_pytest_ci_cov.sh
Due: shellcheck, detect-secrets

Add comprehensive tests for JobService and job types
  tests/test_backup_restore.py
  tests/test_jobs_service.py
  tests/test_jobs_types.py
Due: multi-version-test

refactor: update import statement for JobPriority and JobStatus
  researcharr/core/jobs/api.py
Due: multi-version-test, detect-secrets

refactor: enhance job serialization tests and improve field handling
  tests/test_jobs_types.py
Due: multi-version-test

refactor: update event bus method calls and improve worker pool mock specifications
  tests/test_jobs_service.py
Due: multi-version-test

refactor: update job serialization tests to use explicit job instances and correct assertions
  tests/test_jobs_types.py
Due: multi-version-test
