Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

multi-version-test:
  name: multi-version Python compatibility test
  entry: scripts/multi-version-test.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

shellcheck:
  name: shellcheck (local wrapper)
  entry: scripts/run-shellcheck.sh
  language: script
  stages:
  - pre-commit

Add DebugPytestFailure agent for analyzing pytest failures and creating diagnostic plans
  .github/agents/Pytest.agent.md
Due: none

Update module resolution in install_create_app_helpers for Python 3.14 compatibility
  researcharr/_factory_proxy.py
Due: multi-version-test

Refactor fallback create_app logic and enhance module re-exporting for improved test compatibility
  researcharr/factory.py
Due: multi-version-test

Enhance logging and output directory management in multi-version CI script
  scripts/ci-multi-version.sh
Due: shellcheck

Refactor test_updates_upgrade_in_image_and_invalid_url to use RuntimeConfig for environment handling
  tests/factory/test_factory_batch5.py
Due: multi-version-test

Refactor test_setup_generates_api_and_persists to use RuntimeConfig for webui stub injection and improve user config handling
  tests/factory/test_factory_batch7.py
Due: multi-version-test

Add MagicMock import for improved test flexibility in Prometheus metrics tests
  tests/metrics/test_prometheus_text_endpoint.py
Due: multi-version-test

Add .tmp/ to .dockerignore to exclude temporary files from Docker builds
  .dockerignore
Due: none

Add .tmp/ to .gitignore to exclude temporary files from version control
  .gitignore
Due: none

Add .tmp/ to codecov.yml ignore list to exclude temporary files from coverage reports
  codecov.yml
Due: none

Add _RuntimeConfig class for patchable runtime configuration checks in tests
  factory.py
Due: multi-version-test

Update development dependencies in requirements-dev.txt for consistency and compatibility
  requirements-dev.txt
Due: none

Add microsoft.gpg file for GPG key management
  microsoft.gpg
Due: none

Update package versions in requirements.txt for consistency and compatibility
  requirements.txt
Due: none

Add error response log for unsupported 'Accept' header in API
  .gh_run_19272267223_logs.zip
Due: none

Remove unnecessary whitespace in _RuntimeConfig class docstrings for consistency
  factory.py
Due: multi-version-test

Refactor whitespace in factory and test files for consistency
  factory.py
  tests/factory/test_factory_batch5.py
  tests/factory/test_factory_batch7.py
  tests/metrics/test_prometheus_text_endpoint.py
Due: multi-version-test

Add test fixture and test for setup route with user config override
  tests/debug/test_setup_override_debug.py
Due: multi-version-test

Add get_backup_config function to return backup configuration mapping
  backups.py
Due: multi-version-test

Refactor imports and whitespace for consistency across multiple files
  backups.py
  factory.py
  researcharr/_factory_proxy.py
  researcharr/factory.py
  tests/factory/test_factory_batch5.py
  tests/metrics/test_prometheus_text_endpoint.py
Due: multi-version-test

Enhance _RuntimeConfig with webui and running_in_image overrides for improved testability
  factory.py
Due: multi-version-test

Add initial Pytest Fix agent documentation
  .github/agents/Pytest Fix.agent.md
Due: none

Refactor Pytest agent to enhance coordination and workflow for debugging pytest failures
  .github/agents/Pytest.agent.md
Due: none

Refactor test_setup_generates_api_and_persists to create app after patching and remove client fixture usage
  tests/factory/test_factory_batch7.py
Due: multi-version-test

Enhance save route tests to validate credential requirements and successful saves
  tests/factory/test_factory_comprehensive.py
Due: multi-version-test

Update pytest configuration to exclude web UI tests and add marker for web UI tests
  pyproject.toml
Due: none

Add feature flag for Web UI endpoints and update user config handling
  factory.py
Due: multi-version-test

Refactor Pytest agent documentation for clarity and accuracy in agent description and tool usage
  .github/agents/Pytest Fix.agent.md
  .github/agents/Pytest.agent.md
Due: none

Refactor task commands in tasks.json for improved quoting and robustness
  .vscode/tasks.json
Due: none

Add optional test coverage execution in pre-commit script
  scripts/run_precommit.sh
Due: shellcheck

Fix formatting by adding a blank line before app creation in test_setup_generates_api_and_persists
  tests/factory/test_factory_batch7.py
Due: multi-version-test

Add Pytest agent documentation to .gitignore
  .gitignore
Due: none

Refactor save route test for improved readability by consolidating post request formatting
  tests/factory/test_factory_comprehensive.py
Due: multi-version-test

Update line numbers and generated timestamp in .secrets.baseline
  .secrets.baseline
Due: none

Adjust coverage fail_under threshold to 60.0 for improved CI stability
  pyproject.toml
Due: none

Update detect-secrets version to 1.5.0 in requirements-dev.txt
  requirements-dev.txt
Due: none

deploy: da7cbfd916e556cecfcc145a08809dbdcf5a9c94
  previews/feature-data_storage_and_repository_llayer/index.html
  previews/feature-data_storage_and_repository_llayer/sitemap.xml.gz
Due: none

fix: mark tests modifying _RuntimeConfig with @pytest.mark.no_xdist
  tests/debug/test_setup_override_debug.py
  tests/factory/test_factory_batch5.py
  tests/factory/test_factory_batch7.py
Due: multi-version-test

deploy: 7b89d5ff92618aaca07be57488216937a11b883b
  previews/feature-data_storage_and_repository_llayer/index.html
  previews/feature-data_storage_and_repository_llayer/sitemap.xml.gz
Due: none

ci: modernize workflows and disable Docker builds during development
  .github/workflows/ci-trivy.yml
  .github/workflows/ci.yml
  .github/workflows/dockerfile-lint.yml
Due: none

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
