Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*

deploy: 0f98d59ccde3b0e7c5bea5e258e9668e0702573a
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

chore(ci): format release-drafter files
  release-drafter-action/.github/release-drafter.yml
  release-drafter-action/.github/workflows/release-drafter.yml
  release-drafter-action/LICENSE
  release-drafter-action/README.md
Due: detect-secrets

chore(ci): set environment defaults for tests and improve site-packages detection
  .github/workflows/ci.yml
Due: detect-secrets

fix(factory): enhance __getattr__ to provide fallbacks for render_template and security functions
  researcharr/factory.py
Due: multi-version-test, detect-secrets

deploy: 07be4c3aff600878f7ea008aca057ce95e785742
  previews/development/index.html
  previews/development/sitemap.xml.gz
Due: detect-secrets

feat(application): enhance configuration setup with fallback and logging improvements
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

refactor(application): streamline imports and simplify dictionary merging logic
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

fix(secrets): update line number for hashed secret and refresh generated timestamp
  .secrets.baseline
Due: detect-secrets

feat(tests): add Sourcery and Vulture tasks for code analysis
  .vscode/tasks.json
Due: detect-secrets

feat(docs): add documentation for Sourcery and Vulture tooling experiments
  docs/tooling-experiments.md
Due: detect-secrets

refactor(config_validator): optimize documentation generation by using extend for schema docs
  researcharr/core/config_validator.py
Due: multi-version-test, detect-secrets

refactor(events): simplify get_subscriber_count method by removing unnecessary else block
  researcharr/core/events.py
Due: multi-version-test, detect-secrets

refactor(lifecycle): streamline hook execution by removing unnecessary conditional for timeout handling
  researcharr/core/lifecycle.py
Due: multi-version-test, detect-secrets

refactor(database_monitor): simplify status check using set membership for warning and critical states
  researcharr/monitoring/database_monitor.py
Due: multi-version-test, detect-secrets

refactor(registry): improve create_instance method by simplifying error handling
  researcharr/plugins/registry.py
Due: multi-version-test, detect-secrets

refactor(managed_app): enhance caching mechanisms by reattaching and snapshotting entities
  researcharr/repositories/managed_app.py
Due: multi-version-test, detect-secrets

refactor(processing_log): unify bucket handling in get_event_counts and get_success_rate methods
  researcharr/repositories/processing_log.py
Due: multi-version-test, detect-secrets

refactor(init): replace hardcoded module names with a reconciled attributes set
  researcharr/__init__.py
Due: multi-version-test, detect-secrets

refactor(backups_impl): simplify merge_backup_configs using dictionary union
  researcharr/_backups_impl.py
Due: multi-version-test, detect-secrets

refactor(factory_proxy): replace hardcoded internal attributes with a constant set
  researcharr/_factory_proxy.py
Due: multi-version-test, detect-secrets

refactor(pipeline): improve error handling and validation for stage class path
  researcharr/async_pipeline.py
Due: multi-version-test, detect-secrets

refactor(backups_impl): simplify merge_backup_configs using dictionary union
  researcharr/backups_impl.py
Due: multi-version-test, detect-secrets

refactor(cli): streamline rollback logic in cmd_restore function
  researcharr/cli.py
Due: multi-version-test, detect-secrets

refactor(db): simplify load_user function by reducing nested conditionals
  researcharr/db.py
Due: multi-version-test, detect-secrets

refactor(factory): enhance error handling in _fallback_create_app for Flask import
  researcharr/factory.py
Due: multi-version-test, detect-secrets

refactor(config): remove specific FileNotFoundError handling in load_config for broader resilience
  researcharr/researcharr.py
Due: multi-version-test, detect-secrets

refactor(webui): optimize truthy value checks and streamline save_user_config logic
  researcharr/webui.py
Due: multi-version-test, detect-secrets

refactor(tests): add fixture to clear repository cache between tests
  tests/repositories/conftest.py
Due: multi-version-test

refactor(tests): add test for deleting app with cached detached instance
  tests/repositories/test_managed_app_repository.py
Due: multi-version-test

refactor(.gitignore): add Sourcery report files to ignore list
  .gitignore
Due: detect-secrets

docs(CONTRIBUTING): update Sourcery authentication instructions for pre-commit
  CONTRIBUTING.md
Due: detect-secrets

feat(sourcery): add initial configuration for Sourcery with ignore rules and settings
  .sourcery.yaml
Due: detect-secrets

feat(sourcery): add Sourcery hook with high and medium priority rules to pre-commit configuration
  .pre-commit-config.yaml
Due: detect-secrets

refactor(validators): improve readability of completed_at validation in validate_search_cycle
  researcharr/validators.py
Due: multi-version-test, detect-secrets

fix(cli): change generic Exception to RuntimeError for missing run_job
  researcharr/cli.py
Due: multi-version-test, detect-secrets

fix(backups): replace generic Exception with FileNotFoundError in create_backup_file
  researcharr/backups.py
Due: multi-version-test, detect-secrets

docs(tooling-experiments): update Sourcery and Vulture documentation for pre-commit integration and usage
  docs/tooling-experiments.md
Due: detect-secrets
