Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

multi-version-test:
  name: multi-version Python compatibility test
  entry: scripts/multi-version-test.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

shellcheck:
  name: shellcheck (local wrapper)
  entry: scripts/run-shellcheck.sh
  language: script
  stages:
  - pre-commit

detect-secrets:
  name: detect-secrets (local wrapper)
  entry: scripts/run-detect-secrets.sh
  language: script
  stages:
  - pre-commit

fix: add missing newline for improved readability in conftest.py
  conftest.py
Due: multi-version-test, detect-secrets

fix: improve variable naming for clarity in conftest.py
  conftest.py
Due: multi-version-test, detect-secrets

fix: improve variable naming for clarity in test_logger_state.py
  tests/_debug/test_logger_state.py
Due: multi-version-test

fix: improve variable naming for clarity in test_processing_log_cleanup.py
  tests/repositories/test_processing_log_cleanup.py
Due: multi-version-test

fix: update import alias for clarity in extract_ordering.py
  extract_ordering.py
Due: multi-version-test, detect-secrets

fix: update import statement for clarity in extract_ordering.py
  extract_ordering.py
Due: multi-version-test, detect-secrets

fix: update import statement for defusedxml.ElementTree for consistency
  scripts/replay_prefix_bisect.py
Due: multi-version-test, detect-secrets

fix: add nosec comments for subprocess usage in replay_prefix_bisect.py
  scripts/replay_prefix_bisect.py
Due: multi-version-test, detect-secrets

fix: improve code formatting for consistency in conftest.py and extract_ordering.py
  conftest.py
  extract_ordering.py
Due: multi-version-test, detect-secrets

fix: update test to use non-secret value for api_key in save_user_config test
  junit.xml
  ordering.txt
  tests/package/test_webui_shim_pkg.py
Due: multi-version-test, detect-secrets

fix: update test to use a clearly non-secret value for password hash in save_user_config test
  tests/package/test_webui_shim_pkg.py
Due: multi-version-test

fix: add allowlist comments for password hash in save_user_config test
  tests/package/test_webui_shim_pkg.py
Due: multi-version-test

fix: ensure parent directories exist when opening config.yml for write/append/create
  tests/conftest.py
Due: multi-version-test

deploy: 3377aee21b27e519937990e4160ce66e2005abf3
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: add wheelhouse build, publish to GH Packages, and prefer packages in tests; normalize CI env
  .github/workflows/build-wheels.yml
  .github/workflows/ci-wheels-and-test.yml
  docs/WHEELHOUSE.md
  scripts/build-wheelhouse.sh
  scripts/ci-multi-version.sh
Due: shellcheck, detect-secrets

deploy: 383765854dc00a05bd593fa4e9d1d591f175fa0c
  previews/ci-fix-yaml-lint-warnings/404.html
  previews/ci-fix-yaml-lint-warnings/API/index.html
  previews/ci-fix-yaml-lint-warnings/Backup-and-Recovery/index.html
  previews/ci-fix-yaml-lint-warnings/CI-and-Development/index.html
  previews/ci-fix-yaml-lint-warnings/CLI-Usage/index.html
  previews/ci-fix-yaml-lint-warnings/CONFIGURATION/index.html
  previews/ci-fix-yaml-lint-warnings/Changelog/index.html
  previews/ci-fix-yaml-lint-warnings/Contributing/index.html
  previews/ci-fix-yaml-lint-warnings/Coverage-CI-Local-Differences/index.html
  previews/ci-fix-yaml-lint-warnings/Coverage-Gutters-Example-Comparison/index.html
  previews/ci-fix-yaml-lint-warnings/Coverage-Gutters-Quick-Reference/index.html
  previews/ci-fix-yaml-lint-warnings/Coverage-Gutters-Quick-Start/index.html
  previews/ci-fix-yaml-lint-warnings/Coverage-Gutters-Setup/index.html
  previews/ci-fix-yaml-lint-warnings/DEV/index.html
  previews/ci-fix-yaml-lint-warnings/Deployment-and-Resources/index.html
  previews/ci-fix-yaml-lint-warnings/Environment-Variables/index.html
  previews/ci-fix-yaml-lint-warnings/FAQ/index.html
  previews/ci-fix-yaml-lint-warnings/Getting-Started/index.html
  previews/ci-fix-yaml-lint-warnings/Integrations/index.html
  previews/ci-fix-yaml-lint-warnings/Logs/index.html
  previews/ci-fix-yaml-lint-warnings/Packaging-and-Distribution/index.html
  previews/ci-fix-yaml-lint-warnings/Plugins/index.html
  previews/ci-fix-yaml-lint-warnings/Recent-Changes/index.html
  previews/ci-fix-yaml-lint-warnings/Renovate-Configuration/index.html
  previews/ci-fix-yaml-lint-warnings/Roadmap/index.html
  previews/ci-fix-yaml-lint-warnings/SERVICES_ARCHITECTURE/index.html
  previews/ci-fix-yaml-lint-warnings/Status-and-Warnings/index.html
  previews/ci-fix-yaml-lint-warnings/Versioning/index.html
  previews/ci-fix-yaml-lint-warnings/WHEELHOUSE/index.html
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: skip cp36/cp37 and pypy in cibuildwheel builds
  .github/workflows/build-wheels.yml
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 003ad2e47b526f578810c9b7b87b33c75b41b9f2
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: update workflows to build and publish wheels for multiple Python versions
  .github/workflows/build-wheels.yml
  .github/workflows/ci-wheels-and-test.yml
  wheelhouse/researcharr-0.0.0-py3-none-any.whl
Due: detect-secrets

deploy: dcb7f339c8bf28beac84be91b83020bcb60ab951
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: update Python version matrix in CI workflows to include 3.13 and 3.14
  .github/workflows/build-wheels.yml
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 55369479178933217c08b7f90ab05458bfe4fb0a
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: add development and feature branches to workflow triggers
  .github/workflows/build-wheels.yml
Due: detect-secrets

ci: fix YAML lint warnings by removing unnecessary whitespace
  .github/workflows/build-wheels.yml
Due: detect-secrets

deploy: a3138fa0ece84d61e48b49daef759f2d6a8424a6
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: update artifact names to include Python version in wheelhouse uploads
  .github/workflows/build-wheels.yml
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: f155358cb163618bb347fec09c8517657ee18771
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: fix pytest log permission error (write to TMPDIR) and artifact name conflicts
  scripts/ci-multi-version.sh
Due: shellcheck, detect-secrets

deploy: 74745e5de7380e53d548734eefbe8225fa0b669b
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: fix pytest log permission error in Docker containers
  scripts/ci-multi-version.sh
Due: shellcheck, detect-secrets

deploy: c710dc93a0434b70631ec86058786b49e6d07491
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: create TMPDIR before docker setup to fix post-cleanup error
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 4c0d2e16b4f0babdedf658d788ef40fef8804af7
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

ci: disable multi_version_tests workflow temporarily
  .github/workflows/multi_version_tests.yml
Due: detect-secrets

ci: add lightweight placeholder jobs for linting and pytest
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 42d26be2f351b2f95ad14fce1e38cd96cb310e4d
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*
