Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*

ci: add inline debugging before and after test script
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 5f97e08e258d062ba94570f0f4ec0091272f51d9
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

ci: use set +e to allow debugging after script failure
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 9b43b1a882a171bfbc48691c8bdf521352dfa491
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

ci: use glob pattern for log artifact upload
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 9278d1ccb985ca3dc962330bc2ef3791365940d5
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

ci: copy logs to simpler filenames for artifact upload
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 5eca364ec378a904e844e7a2583c223b4541e703
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

fix: resolve 9 CI test failures in wheelhouse environment
  .secrets.baseline
  tests/entrypoint/test_entrypoint_comprehensive.py
  tests/package/test_researcharr_package.py
Due: multi-version-test, detect-secrets

deploy: 465256ae3a01abab061e5ff6f8c4779522d1b5be
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

fix: convert remaining @patch decorators to patch.object for entrypoint tests
  tests/entrypoint/test_entrypoint_comprehensive.py
Due: multi-version-test

style: apply ruff formatting to entrypoint tests
  tests/entrypoint/test_entrypoint_comprehensive.py
Due: multi-version-test

deploy: 39de6a47c57e5433e889aa1e8dc57ce4ed123199
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

fix: move sqlite3.connect patch to outer scope in database test
  tests/package/test_researcharr_package.py
Due: multi-version-test

deploy: 41b817f647c24c11cb655248d3da635f4853d26a
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

ci: ensure trivy-scan runs only for main/development branches (explicit guards)
  .github/workflows/docker-development.yml
  .github/workflows/docker-latest.yml
Due: detect-secrets

deploy: b8c60b70d42380ea6d1341543cb4d9b1989acd7e
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

tests: tolerate shim sentinel for create_app in factory and metrics tests to avoid shim-related flakes
  .github/workflows/ci-wheels-and-test.yml
  tests/metrics/test_prometheus_text_endpoint.py
  tests/package/test_factory_proxy_failure.py
Due: multi-version-test, detect-secrets

deploy: eb62622de1681eb671294aedb50e8ca327f1e742
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

ci: fix pre-commit script unbound PYTHONPATH and wrap safety scan with timeout; pre-commit formatted scripts
  scripts/run-safety-precommit.sh
  scripts/run_precommit.sh
Due: shellcheck, detect-secrets

ci: cache wheels & conditionally build; guard twine upload; fix precommit scripts
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

ci: update branch filters for push events in CI workflow
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 4b7c87b9f3a958a8e98cee261a915392bc84bb01
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

ci: improve wheel upload process and refine workflow triggers
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

ci: allow setting webui in tests when attributes are missing
  tests/factory/test_factory_batch4.py
Due: multi-version-test

ci: suppress noisy factory-helper logs during test runs
  tests/conftest.py
Due: multi-version-test

ci: improve suppression of factory-helper logs during test runs
  tests/conftest.py
Due: multi-version-test

ci: enhance stderr filtering for factory helper logs during tests
  tests/conftest.py
Due: multi-version-test

ci: refine stderr filtering for factory helper logs during tests
  tests/conftest.py
Due: multi-version-test

ci: update factory helper stubs to include raising parameter for better error handling
  tests/factory/test_factory_batch4.py
Due: multi-version-test

tests: gate helper logs, fix import sorting and ruff warnings
  .secrets.baseline
  researcharr/__init__.py
  researcharr/_factory_proxy.py
  tests/conftest.py
  tests/factory/test_factory_comprehensive.py
  tests/factory/test_factory_consolidated.py
Due: multi-version-test, detect-secrets

chore: update detect-secrets baseline
  .secrets.baseline
Due: detect-secrets

deploy: bc69825d6b4722eabb03f5f5484ff07ce695b22a
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

ci(test): avoid cancelling test-matrix when a run fails (fail-fast:false) and tolerate missing artifacts
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

deploy: 75000fb0ef7e263208dce2e2025168f51696c182
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets

tests: ensure webui alias in sys.modules for setup/reset tests; add GH triage script
  scripts/ci/triage-gh-run.sh
  tests/factory/test_factory_comprehensive.py
Due: multi-version-test, shellcheck, detect-secrets

chore: update .secrets.baseline from pre-commit detect-secrets
  .secrets.baseline
Due: detect-secrets

chore: apply pre-commit changes
  actions-artifacts/run-19345196475/wheelhouse-3.10/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.11/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.12/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.13/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.14/researcharr-0.0.0-py3-none-any.whl
Due: detect-secrets

chore: ignore and remove local triage actions-artifacts
  .gitignore
  actions-artifacts/run-19345196475/wheelhouse-3.10/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.11/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.12/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.13/researcharr-0.0.0-py3-none-any.whl
  actions-artifacts/run-19345196475/wheelhouse-3.14/researcharr-0.0.0-py3-none-any.whl
Due: detect-secrets

deploy: f8a08c12a851a662a8360a22edb04072b6d2ecd3
  previews/test-fix-flaky-ci-tests/index.html
  previews/test-fix-flaky-ci-tests/sitemap.xml.gz
Due: detect-secrets
