Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

multi-version-test:
  name: multi-version Python compatibility test
  entry: scripts/multi-version-test.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

shellcheck:
  name: shellcheck (local wrapper)
  entry: scripts/run-shellcheck.sh
  language: script
  stages:
  - pre-commit

ci: update placeholder jobs to provide clearer output messages
  .github/workflows/ci.yml
Due: none

deploy: 2fe2bf68bcbcc8b6b9acbdced75519d30be5ab1d
  previews/feature-processing_pipeline_framework/index.html
Due: none

Update setup.cfg
  setup.cfg
Due: none

deploy: eaa975e87ddb416a5b3e92ee4831b16015a275db
  previews/feature-processing_pipeline_framework/index.html
Due: none

Update tests/test_researcharr_package.py
  tests/test_researcharr_package.py
Due: multi-version-test

deploy: e407b3647f1706cde99cf95ec70fc1b4494b569f
  previews/development/index.html
Due: none

Delete .tmp_coverage/coverage.xml
  .tmp_coverage/coverage.xml
Due: none

deploy: 35bfc9ff843489f6d003103d613d4299ff99bf8f
  index.html
Due: none

ci: add node_modules to .gitignore to prevent tracking of local dependencies
  .gitignore
Due: none

ci: add autouse fixture to detect mutations in the Flask class during tests; remove unused pytest import
  tests/conftest.py
  tests/test_researcharr_package.py
Due: multi-version-test

deploy: 7a414c84f58cd76d1b8aca0a9faaf9e8f7d566cf
  index.html
Due: none

chore: apply pre-commit fixes
  tests/test_researcharr_package.py
Due: multi-version-test

Implement data storage and repository layer
  pyproject.toml
  requirements.txt
  researcharr/repositories/__init__.py
  researcharr/repositories/base.py
  researcharr/repositories/global_settings.py
  researcharr/repositories/managed_app.py
  researcharr/repositories/processing_log.py
  researcharr/repositories/search_cycle.py
  researcharr/repositories/tracked_item.py
  researcharr/storage/__init__.py
  researcharr/storage/database.py
  researcharr/storage/migrations.py
  researcharr/storage/models.py
  researcharr/storage/models.pyi
  tests/conftest.py
  tests/repositories/conftest.py
  tests/repositories/test_global_settings_repository.py
  tests/repositories/test_managed_app_repository.py
  tests/repositories/test_processing_log_repository.py
  tests/repositories/test_search_cycle_repository.py
  tests/repositories/test_tracked_item_repository.py
  tests/storage/conftest.py
  tests/storage/test_models.py
Due: multi-version-test

deploy: 77531ca2a04d74393779905d7aa6424fe9ff890a
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

Apply pre-commit formatting fixes (import sorting, line breaks)
  researcharr/run.py
  run.py
  tests/__init__.py
  tests/conftest.py
  tests/factory/test_factory_shim_behavior.py
  tests/factory/test_factory_shim_coverage_extra.py
  tests/package/test_factory_proxy_failure.py
  tests/package/test_package_init.py
  tests/package/test_package_shims.py
  tests/package/test_run_package_smoke.py
  tests/package/test_webui_shim.py
  tests/repositories/test_processing_log_cleanup.py
  tests/storage/test_database_session.py
  tests/storage/test_migrations.py
  tests/top_level/test_backups_shim_top.py
Due: multi-version-test

deploy: f2afcc37adf1281f19162fdac39a4a600766168b
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

deploy: f2f5514999a7aaf53a1a72e38177ee9ff524eb93
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

chore: cleanup temp files and update ignore configurations
  .dockerignore
  .gitignore
  backups.py.disabled
  bandit.yaml
  codecov.yml
  coverage.json
  junit.xml
  test_sleep.py
  tests/_debug_import.py
  tests/tmp_debug_pytest.py
  tmp_sleep.py
Due: multi-version-test

deploy: 0116bb750e553e749ece49fc893c723be4eb17ad
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

chore: stop tracking build artifacts (site/ and .tmp_coverage/)
  .tmp_coverage/coverage.xml
  site/CI-and-Development.md
  site/Changelog.md
  site/Contributing.md
  site/Deployment-and-Resources.md
  site/Environment-Variables.md
  site/FAQ.md
  site/Getting-Started.md
  site/Health-and-Metrics.md
  site/PR_INSTRUCTIONS.txt
  site/Packaging-and-Distribution.md
  site/Recent-Changes.md
  site/Roadmap.md
  site/Versioning.md
  site/_includes/navbar.html
  site/_layouts/default.html
Due: none

deploy: 0b3bf6e99284381243d407a46ee4bef4556735ef
  previews/feature-data_storage_and_repository_llayer/index.html
Due: none

refactor: replace pyright with basedpyright and update related configurations
  node_modules/.bin/pyright
  node_modules/.bin/pyright-langserver
  node_modules/.package-lock.json
  node_modules/pyright/LICENSE.txt
  node_modules/pyright/README.md
  node_modules/pyright/index.js
  node_modules/pyright/langserver.index.js
  node_modules/pyright/package.json
  package-lock.json
  release-drafter-action/.github/release-drafter.yml
  release-drafter-action/.github/workflows/release-drafter.yml
  release-drafter-action/LICENSE
  release-drafter-action/README.md
Due: none

ci: add dependencies for linting and pytest jobs to ensure they run after build completion
  .github/workflows/ci.yml
Due: none

deploy: 469377498ed169fe6031ea3ca33798bf89af0348
  index.html
Due: none

Add Python 3.10+ compatibility layer
  .dockerignore
  .github/scripts/ghcr_cleanup.py
  Dockerfile
  PYTHON_COMPATIBILITY.md
  backups.py
  requirements-dev.txt
  researcharr/backup_restore.py
  researcharr/backups_impl.py
  researcharr/cli.py
  researcharr/compat.py
  researcharr/monitoring/backup_monitor.py
  tests/scheduling/test_backup_scheduler.py
  tests/scheduling/test_database_scheduler.py
Due: multi-version-test

chore(stubs): export common submodules for researcharr package resolution
  .secrets.baseline
  researcharr.pyi
  researcharr/__init__.pyi
  researcharr/researcharr.pyi
Due: multi-version-test

chore(pre-commit): apply formatting and whitespace fixes from hooks
  DATABASE_HEALTH_MONITORING_SUMMARY.md
  SERVICE_INTEGRATION_SUMMARY.md
  docs/SERVICES_ARCHITECTURE.md
  scripts/ci-multi-version.sh
  typings/researcharr/__init__.pyi
  typings/researcharr/storage/__init__.pyi
  typings/researcharr/storage/recovery.pyi
Due: shellcheck

fix(metrics): stabilize test_client responses in CI when Flask or responses are mocked
  researcharr/core/services.py
Due: multi-version-test

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
