Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

multi-version-test:
  name: multi-version Python compatibility test
  entry: scripts/multi-version-test.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

shellcheck:
  name: shellcheck (local wrapper)
  entry: scripts/run-shellcheck.sh
  language: script
  stages:
  - pre-commit

ci: remove deprecated/disabled workflows
  .github/workflows/dockerfile-lint.yml
  .github/workflows/propagate-nightly-to-features.yml
  .github/workflows/publish-debug-image.yml
  .github/workflows/publish-images.yml
Due: none

ci: remove deprecated workflows and consolidate CI processes
  .github/workflows/ci-build.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-tests-only.yml
  .github/workflows/ci-trivy.yml
  .github/workflows/docker-development.yml
  .github/workflows/multi_version_tests.yml
  factory.py
  pyproject.toml
  researcharr/core/services.py
  researcharr/factory.py
Due: multi-version-test

fix: remove unnecessary whitespace in CI configuration for no_xdist tests
  .github/workflows/ci.yml
Due: none

deploy: 3499ebc4892f4b9b97c741bf179b385175e8623f
  previews/feature-data_storage_and_repository_llayer/index.html
  previews/feature-data_storage_and_repository_llayer/sitemap.xml.gz
Due: none

fix: add missing newline at end of multi_version_tests.yml
  .github/workflows/multi_version_tests.yml
Due: none

chore: apply pre-commit fixes after merge
  .github/workflows/multi_version_tests.yml
Due: none

deploy: dd8a49ac90f7121cbb22b8711c7458c3343c3baa
  previews/feature-data_storage_and_repository_llayer/index.html
  previews/feature-data_storage_and_repository_llayer/sitemap.xml.gz
Due: none

chore: add YAML document start to reduce yamllint warnings
  .github/workflows/docker-development.yml
Due: none

chore: add YAML autofix script
  .vscode/tasks.json
  package.json
  scripts/auto_fix_yaml.sh
  scripts/format-yaml.sh
Due: shellcheck

chore: auto-fix YAML (docstart + comment spacing)
  .bandit.yaml
  .github/FUNDING.yml
  .github/workflows/add-all-issues-to-project.yml
  .github/workflows/auto-merge-allowed-authors.yml
  .github/workflows/ci-docs.yml
  .github/workflows/cleanup-renovate-branches.yml
  .github/workflows/create-beta-issues.yml
  .github/workflows/ghcr-cleanup.yml
  .github/workflows/ghcr-prune.yml
  .github/workflows/multi_version_tests.yml
  .github/workflows/pages-deploy.yml
  .github/workflows/pages-preview.yml
  .github/workflows/project-automation.yml
  .github/workflows/propagate-branch.yml
  .github/workflows/propagate-development-to-features.yml
  .github/workflows/propagate-main-to-development.yml
  .github/workflows/propagate-main-to-downstream.yml
  .github/workflows/sync-issues-to-project.yml
  .github/workflows/sync-project.yml
  .github/workflows/trivy-schedule.yml
  .pre-commit-config.yaml
  config.example.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: none

chore: fix yamllint config and comment indentation
  .pre-commit-config.yaml
  .yamllint
Due: none

chore: add manual pre-commit hook for YAML auto-fix
  .pre-commit-config.yaml
Due: none

chore: finalize YAML autofix and apply pre-commit updates
  .github/workflows/check-gh-pages.yml
  .github/workflows/create-project.yml
  .github/workflows/docker-development.yml
  .mergify.yml
  .secrets.baseline
  codecov.yml
  config/config.yml
  config/plugins/apprise.yml
  config/plugins/bittorrent.yml
  config/plugins/bobarr.yml
  config/plugins/deluge.yml
  config/plugins/headphones.yml
  config/plugins/jackett.yml
  config/plugins/lidarr.yml
  config/plugins/mylar3.yml
  config/plugins/nzbget.yml
  config/plugins/prowlarr.yml
  config/plugins/qbittorrent.yml
  config/plugins/radarr.yml
  config/plugins/readarr.yml
  config/plugins/sabnzbd.yml
  config/plugins/sickbeard.yml
  config/plugins/sickrage.yml
  config/plugins/sonarr.yml
  config/plugins/transmission.yml
  config/plugins/utorrent.yml
  config/plugins/whisparr.yml
  docs/_config.yml
  mkdocs.yml
  scripts/auto_fix_yaml.sh
Due: shellcheck

chore: fix .yamllint (remove document-start) and apply detect-secrets baseline
  .secrets.baseline
  .yamllint
Due: none

chore: update .secrets.baseline after detect-secrets run
  .secrets.baseline
Due: none

chore: update .secrets.baseline after detect-secrets run (2)
  .secrets.baseline
Due: none

chore: apply pre-commit fixes for YAML
  .secrets.baseline
  scripts/auto_fix_yaml.sh
Due: shellcheck

chore: update .secrets.baseline after auto-fix
  .secrets.baseline
Due: none

deploy: ce9270b8945f76b1ec63d5868229493df0bb5f62
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: none

chore(ci): reduce yamllint noise and add CI yamllint job
  .github/workflows/check-yaml.yml
  .pre-commit-config.yaml
  .yamllint
Due: none

chore: regenerate detect-secrets baseline
  .secrets.baseline
Due: none

deploy: bc6d2508260ead6f4655f0ec9267f22bfe5f8305
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: none

deploy: 6dabf21fc2ad59ee9457c7558bb308def1227907
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: none

chore: scope detect-secrets pre-commit hook to repo source/config files
  .pre-commit-config.yaml
Due: none

deploy: 47bcac0db7570b14e139254232d1b85a1facac64
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: none

chore: ignore generated/vendor dirs in .yamllint
  .yamllint
Due: none

chore: scope yamllint hook to include repo package and configs
  .pre-commit-config.yaml
Due: none

chore: apply pre-commit fixes after yamllint tuning
  entrypoint.py
Due: multi-version-test

deploy: 31dd9f72cea67e37cc6845a50b37f88b35937f7c
  previews/ci-fix-yaml-lint-warnings/index.html
  previews/ci-fix-yaml-lint-warnings/sitemap.xml.gz
Due: none

chore: add local CI-like test runner script
  scripts/run-local-ci.sh
Due: shellcheck

chore: apply pre-commit auto-fixes (ruff/formatting) and PYTHONPATH hardening
  .github/workflows/docker-latest.yml
  .github/workflows/docs_linkchek.yml
  junit.xml
  researcharr/cli.py
  scripts/run-local-ci.sh
Due: multi-version-test, shellcheck

chore: commit pre-commit auto-fixes (EOF/trailing whitespace) from CI run
  junit.xml
Due: none

chore(cli): call run_job via package module to honor test patches
  researcharr/cli.py
Due: multi-version-test

chore(ci+debug): add debug ids to CLI/run_job
  .vscode/tasks.json
  researcharr/cli.py
  researcharr/run.py
Due: multi-version-test

chore(ci): apply pre-commit auto-fixes from local CI run
  junit.xml
  researcharr/cli.py
Due: multi-version-test

Implement feature X to enhance user experience and optimize performance
  junit.xml
Due: none

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
