Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

multi-version-test:
  name: multi-version Python compatibility test
  entry: scripts/multi-version-test.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

shellcheck:
  name: shellcheck (local wrapper)
  entry: scripts/run-shellcheck.sh
  language: script
  stages:
  - pre-commit

detect-secrets:
  name: detect-secrets (local wrapper)
  entry: scripts/run-detect-secrets.sh
  language: script
  stages:
  - pre-commit

fix: correct redis URL in job scheduling tests for consistency
  tests/test_job_scheduling.py
Due: multi-version-test

refactor: enhance backup restore and validation tests to handle job statuses more robustly
  tests/test_jobs_backups.py
Due: multi-version-test

refactor: adjust coverage fail threshold and streamline assertions in backup tests
  pyproject.toml
  tests/test_backup_restore.py
  tests/test_jobs_backups.py
  tests/test_jobs_service.py
Due: multi-version-test, detect-secrets

refactor: convert job queue system from async to sync with threading
  researcharr/core/jobs/api.py
  researcharr/core/jobs/queue.py
  researcharr/core/jobs/redis_queue.py
  researcharr/core/jobs/service.py
  researcharr/core/jobs/threaded_worker.py
  researcharr/core/jobs/worker.py
Due: multi-version-test, detect-secrets

Update renovate.json
  renovate.json
Due: detect-secrets

refactor: convert job processing functions from async to sync for improved performance
  examples/job_queue_integration.py
Due: multi-version-test, detect-secrets

refactor: remove async worker implementation in favor of synchronous processing
  researcharr/core/jobs/async_worker.py
Due: multi-version-test, detect-secrets

refactor: update handler type annotation from async callable to regular callable
  researcharr/core/jobs/service.py
Due: multi-version-test, detect-secrets

refactor: remove async/await from job submission and result retrieval in example
  researcharr/core/jobs/__init__.py
Due: multi-version-test, detect-secrets

refactor: remove async functions from job API endpoints for synchronous processing
  researcharr/core/jobs/api.py
Due: multi-version-test, detect-secrets

refactor: update WorkerPool documentation to clarify local worker implementation
  researcharr/core/jobs/worker.py
Due: multi-version-test, detect-secrets

refactor: convert backup handlers to synchronous implementation
  researcharr/core/jobs/handlers_backups.py
Due: multi-version-test, detect-secrets

refactor: convert job service initialization to synchronous implementation
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

refactor: convert test cases to synchronous implementation
  tests/test_job_scheduling.py
Due: multi-version-test

refactor: convert backup job tests to synchronous implementation
  tests/test_jobs_backups.py
Due: multi-version-test

refactor: convert asynchronous mocks to synchronous implementations in job service tests
  tests/test_jobs_service.py
Due: multi-version-test

refactor: convert asynchronous tests and handlers to synchronous implementations
  tests/test_jobs.py
Due: multi-version-test

refactor: update coverage fail under threshold and remove asyncio mode
  pyproject.toml
Due: detect-secrets

refactor: remove unused Radarr and Sonarr configuration sections from example config
  config.example.yml
Due: detect-secrets

refactor: remove unused linting rules for async_pipeline.py from configuration
  pyproject.toml
Due: detect-secrets

refactor: add sqlite3 dependency to requirements.txt
  requirements.txt
Due: detect-secrets

refactor: add fixture to force garbage collection after test session for coverage.py cleanup
  tests/conftest.py
Due: multi-version-test

refactor: remove sqlite3 dependency from requirements.txt
  requirements.txt
Due: detect-secrets

feat: add new test tasks with coverage and timeout options in tasks.json
  .vscode/tasks.json
Due: detect-secrets

feat: add pytest timeout script for managing test execution duration
  scripts/pytest-timeout.sh
Due: shellcheck, detect-secrets

fix(pyright): cast Redis responses to concrete sync types; stabilize pre-commit; docs/tests unchanged
  .vscode/tasks.json
  config.example.yml
  examples/job_queue_integration.py
  requirements-dev.txt
  researcharr/core/jobs/api.py
  researcharr/core/jobs/redis_queue.py
  researcharr/core/jobs/service.py
  researcharr/core/jobs/threaded_worker.py
  tests/test_job_scheduling.py
  tests/test_jobs.py
  tests/test_jobs_backups.py
  tests/test_jobs_service.py
Due: multi-version-test, detect-secrets

Update FUNDING.yml
  .github/FUNDING.yml
Due: detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*
