Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

multi-version-test:
  name: multi-version Python compatibility test
  entry: scripts/multi-version-test.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

shellcheck:
  name: shellcheck (local wrapper)
  entry: scripts/run-shellcheck.sh
  language: script
  stages:
  - pre-commit

deploy: d420ff5a44784c490c5b860b250b6436270a74b2
  previews/feature-media-discovery-issue-106/index.html
Due: none

deploy: c19699e75c84c3f99beeb19a481664b0df839d31
  previews/feature-media-discovery-issue-106/index.html
Due: none

deploy: efc860fbff70f5774984fa29f90c6e0ecd0f1179
  previews/feature-media-discovery-issue-106/index.html
Due: none

deploy: f5dfb63467bda0fa13bf0f36d60d9cf02db5d6e7
  previews/feature-media-discovery-issue-106/index.html
Due: none

deploy: 7854c1a9840a0e55236fc4c61b147b8fb617cceb
  previews/feature-media-discovery-issue-106/404.html
  previews/feature-media-discovery-issue-106/API/index.html
  previews/feature-media-discovery-issue-106/CI-and-Development/index.html
  previews/feature-media-discovery-issue-106/Changelog/index.html
  previews/feature-media-discovery-issue-106/Coverage-Gutters-Example-Comparison/index.html
  previews/feature-media-discovery-issue-106/Coverage-Gutters-Quick-Reference/index.html
  previews/feature-media-discovery-issue-106/Coverage-Gutters-Quick-Start/index.html
  previews/feature-media-discovery-issue-106/Coverage-Gutters-Setup/index.html
  previews/feature-media-discovery-issue-106/DEV/index.html
  previews/feature-media-discovery-issue-106/Deployment-and-Resources/index.html
  previews/feature-media-discovery-issue-106/Environment-Variables/index.html
  previews/feature-media-discovery-issue-106/FAQ/index.html
  previews/feature-media-discovery-issue-106/Getting-Started/index.html
  previews/feature-media-discovery-issue-106/Health-and-Metrics/index.html
  previews/feature-media-discovery-issue-106/Integrations/index.html
  previews/feature-media-discovery-issue-106/Logs/index.html
  previews/feature-media-discovery-issue-106/Packaging-and-Distribution/index.html
  previews/feature-media-discovery-issue-106/Plugins/index.html
  previews/feature-media-discovery-issue-106/Recent-Changes/index.html
  previews/feature-media-discovery-issue-106/Renovate-Configuration/index.html
  previews/feature-media-discovery-issue-106/Roadmap/index.html
  previews/feature-media-discovery-issue-106/Sonarr-Search-Scopes/index.html
  previews/feature-media-discovery-issue-106/Status-and-Warnings/index.html
  previews/feature-media-discovery-issue-106/Versioning/index.html
  previews/feature-media-discovery-issue-106/index.html
Due: none

feat: Complete core application architecture implementation (#105)
  researcharr/core/ARCHITECTURE.md
  researcharr/core/__init__.py
  researcharr/core/api.py
  researcharr/core/application.py
  researcharr/core/config.py
  researcharr/core/container.py
  researcharr/core/events.py
  researcharr/core/lifecycle.py
  researcharr/core/services.py
  tests/test_core_application.py
  tests/test_core_config.py
  tests/test_core_container.py
  tests/test_core_events.py
  tests/test_core_lifecycle.py
  tests/test_core_services.py
Due: multi-version-test

style: Apply pre-commit formatting fixes
  pr127-fixes.patch
  researcharr/core/api.py
  researcharr/core/application.py
  researcharr/core/config.py
  researcharr/core/container.py
  researcharr/core/events.py
  researcharr/core/lifecycle.py
  researcharr/core/services.py
  tests/test_core_application.py
  tests/test_core_config.py
  tests/test_core_events.py
  tests/test_core_lifecycle.py
  tests/test_core_services.py
Due: multi-version-test

fix: correct mypy Python version and repair broken string literals in tests
  mypy.ini
  tests/test_factory_consolidated.py
Due: multi-version-test

deploy: 8ded312fc639fff388cc2159593bb02e51e221f2
  previews/feature-media-discovery-issue-106-clean/index.html
Due: none

fix: CI pre-commit errors - shellcheck and ruff line length
  .github/workflows/ci.yml
  researcharr/core/config.py
  scripts/multi-version-test.sh
  tests/test_core_config.py
Due: multi-version-test, shellcheck

deploy: 4d39caa404ac10de2f5d9bd4429ca6df8236450e
  previews/feature-media-discovery-issue-106/index.html
Due: none

fix: Remove quotes from shellcheck regex pattern (SC2076)
  scripts/multi-version-test.sh
Due: shellcheck

fix: Add || true to pre-commit command for proper CI non-blocking behavior
  .github/workflows/ci.yml
Due: none

fix: Replace hardcoded absolute paths with dynamic path resolution in tests
  tests/test_researcharr_root_module.py
  tests/test_researcharr_root_simple.py
Due: multi-version-test

fix: Remove continue-on-error from pre-commit step to prevent job failure
  .github/workflows/ci.yml
Due: none

fix: Use set +e and exit 0 to ensure pre-commit step always passes
  .github/workflows/ci.yml
Due: none

fix: Use 'shell: bash {0}' to prevent GitHub Actions from adding -e flag
  .github/workflows/ci.yml
Due: none

deploy: 9815cdd43bdce3f67b9a81bd308f8693ef0ac845
  previews/feature-media-discovery-issue-106-clean/index.html
Due: none

fix: Apply same pre-commit fix to ci-build.yml workflow
  .github/workflows/ci-build.yml
Due: none

deploy: 3d73186145d3bbb98ac43261cd6da58e9c003110
  previews/feature-media-discovery-issue-106-clean/index.html
Due: none

fix: Apply shell: bash {0} fix to ci-tests-only.yml pre-commit step
  .github/workflows/ci-tests-only.yml
Due: none

deploy: f9297b22a999571cd5af4f1a6d7a8a9b2ab79435
  previews/feature-media-discovery-issue-106-clean/index.html
Due: none

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
