Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*

feat: add type hints and package exports for researcharr module
  researcharr/__init__.pyi
Due: multi-version-test, detect-secrets

feat: add minimal backup helpers for tests and package shim
  researcharr/_backups_impl.py
Due: multi-version-test, detect-secrets

feat: add _factory_proxy module for short-name module proxies
  researcharr/_factory_proxy.py
Due: multi-version-test, detect-secrets

feat: add package-level helper functions to simplify static analysis
  researcharr/_package_helpers.py
Due: multi-version-test, detect-secrets

feat: add type definitions for Flask client and related protocols
  researcharr/_types.pyi
Due: multi-version-test, detect-secrets

feat: add BlueprintProtocol type definition to api.pyi
  researcharr/api.pyi
Due: multi-version-test, detect-secrets

feat: implement async-first processing pipeline with Stage and Pipeline classes
  researcharr/async_pipeline.py
Due: multi-version-test, detect-secrets

feat: add backup restoration module with automatic rollback capabilities
  researcharr/backup_restore.py
Due: multi-version-test, detect-secrets

feat: add shared backup helpers for creating, restoring, and managing backups
  researcharr/backups_impl.py
Due: multi-version-test, detect-secrets

feat: implement package-level re-export shim for backups
  researcharr/backups.py
Due: multi-version-test, detect-secrets

feat: add backup management functions to backups.pyi
  researcharr/backups.pyi
Due: multi-version-test, detect-secrets

feat: implement in-process TTL cache with Prometheus metrics support
  researcharr/cache.py
Due: multi-version-test, detect-secrets

feat: add command-line interface for backup and recovery operations
  researcharr/cli.py
Due: multi-version-test, detect-secrets

feat: add compatibility layer for Python version differences
  researcharr/compat.py
Due: multi-version-test, detect-secrets

feat: add compatibility layer for Python version differences
  researcharr/compat.py.bak
Due: multi-version-test, detect-secrets

feat: implement SQLite-backed user management for web UI
  researcharr/db.py
Due: multi-version-test, detect-secrets

feat: implement factory module shim for improved import handling
  researcharr/factory.py
Due: multi-version-test, detect-secrets

feat: add factory module with user configuration functions
  researcharr/factory.pyi
Due: multi-version-test, detect-secrets

feat: add fallback implementation for testing with import shim
  researcharr/researcharr.py
Due: multi-version-test, detect-secrets

feat: add type hints and structure to researcharr module
  researcharr/researcharr.pyi
Due: multi-version-test, detect-secrets

feat: add minimal run helpers for test compatibility
  researcharr/run.py
Due: multi-version-test, detect-secrets

feat: add run module with job execution and logging setup functions
  researcharr/run.pyi
Due: multi-version-test, detect-secrets

feat: implement application-level data validators for repository inputs
  researcharr/validators.py
Due: multi-version-test, detect-secrets

feat: add package-level proxy for webui module with user config handling
  researcharr/webui.py
Due: multi-version-test, detect-secrets

feat: add webui module with user config loading and saving functions
  researcharr/webui.pyi
Due: multi-version-test, detect-secrets

feat: add pairwise bisect script for identifying interacting test files
  scripts/pairwise-bisect.sh
Due: shellcheck, detect-secrets

feat: add script to regenerate ordering_nodeids.txt with full pytest nodeids
  scripts/regenerate-ordering-nodeids.sh
Due: shellcheck, detect-secrets

feat: add prefix bisect replay driver for identifying minimal predecessor files
  scripts/replay_prefix_bisect.py
Due: multi-version-test, detect-secrets

feat: add run-repeat-bisect script for identifying minimal failing test files
  scripts/run-repeat-bisect.sh
Due: shellcheck, detect-secrets

feat: add test for global log captures in caplog_all_capture.py
  tests/_debug/caplog_all_capture.py
Due: multi-version-test

feat: add test to capture logs from run_job execution
  tests/_debug/capture_run_job_all_loggers.py
Due: multi-version-test

feat: add conftest.py for logging state snapshots during test execution
  tests/_debug/conftest.py
Due: multi-version-test

feat: add diagnostics_handlers_detail.py for logging handler details
  tests/_debug/diagnostics_handlers_detail.py
Due: multi-version-test

feat: add diagnostics logging utilities for enhanced debugging
  tests/_debug/diagnostics_logger_and_registry.py
Due: multi-version-test

feat: add test_print_root_flags function to log root logger details
  tests/_debug/print_root_flags.py
Due: multi-version-test

feat: add debug tests for logging state and subprocess capture
  tests/_debug/test_logger_state.py
Due: multi-version-test

fix: prevent sys.modules pollution in backups identity reconciliation test
  tests/package/test_package_shim_reconciliation.py
Due: multi-version-test

fix: enhance test teardown to prevent state leakage between tests
  tests/repositories/test_processing_log_cleanup.py
Due: multi-version-test

fix: improve mock restoration in metrics app tests to prevent state leakage
  tests/root/test_root_researcharr_comprehensive.py
Due: multi-version-test

fix: enhance module state diagnostics and restore mechanisms in test fixtures
  tests/conftest.py
Due: multi-version-test
