Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$

chore: apply pre-commit auto-fixes (isort/format)
  researcharr.py
  researcharr/__init__.py
Due: multi-version-test

deploy: ff6540b997ad01fe6f4af3888a67d5a427cbfd78
  index.html
  sitemap.xml.gz
Due: none

test: use package imports in tests to be CWD-independent (CI fix)
  tests/test_backups_comprehensive.py
  tests/test_backups_integration.py
  tests/test_entrypoint_comprehensive.py
  tests/test_factory_consolidated.py
  tests/test_miscellaneous_consolidated.py
Due: multi-version-test

test: expose package entrypoint and convert tests to package imports; update baseline
  .secrets.baseline
  researcharr/__init__.py
  tests/test_factory_consolidated.py
Due: multi-version-test

deploy: 54f3d84dd8e9ef1d06805c69829ec7fcec3db8f4
  index.html
Due: none

test(factory): fix indentation and client fixture typing for login tests
  .secrets.baseline
  factory.py
  researcharr/backups.pyi
  researcharr/factory.pyi
  tests/test_factory_comprehensive.py
Due: multi-version-test

chore: update .secrets.baseline (detect-secrets)
  .secrets.baseline
Due: none

deploy: e6455fb4939983b712a2acd40947e6ed90709a15
  index.html
Due: none

chore(shim): register top-level repo modules in sys.modules for bare imports (entrypoint)
  researcharr/__init__.py
Due: multi-version-test

deploy: a68609154aff5b4f698e11dcf914c35f864a99a3
  index.html
Due: none

test(run): patch schedule mocks to use run shim and fix indentation
  tests/test_run_consolidated.py
Due: multi-version-test

deploy: e94b1128d74151f71524eee864ee510bd8bff7df
  index.html
Due: none

fix(run): ensure top-level run.schedule (and researcharr.run.schedule) are module-like stubs so tests can patch schedule methods
  researcharr/__init__.py
Due: multi-version-test

style: apply pre-commit formatting (black)
  researcharr/__init__.py
Due: multi-version-test

deploy: 9df3717d8494577af43fb296ed3f5c5c45c346d6
  index.html
Due: none

ci: add propagation workflows (main->development, development->feature/*); deprecate nightly workflow
  .github/workflows/propagate-development-to-features.yml
  .github/workflows/propagate-main-to-development.yml
  .github/workflows/propagate-nightly-to-features.yml
Due: none

deploy: 8e01c4b8ab3ad8a763ed085d1ac7314023066f5a
  index.html
Due: none

fix(init): normalize package __path__ for consistent import behavior across environments
  project_data.json
  researcharr/__init__.py
Due: multi-version-test

chore(issue-107): add brainstorming notes and initial design
  ISSUE-107-pipeline-framework.md
Due: none

feat(issue-107): add async pipeline prototype tests and lint fixes
  ISSUE-107-pipeline-framework.md
  researcharr/async_pipeline.py
  tests/test_async_pipeline.py
Due: multi-version-test

fix(secrets): update line numbers for detected secrets and refresh generated timestamp
  .secrets.baseline
Due: none

feat(ci): install optional pipeline extras for related tests in CI
  .github/workflows/ci.yml
Due: none

feat(settings): add coverage file configuration for Coverage Gutters extension
  .vscode/settings.json
Due: none

feat(pyright): add initial implementation with package.json, README, LICENSE, and entry points
  node_modules/.bin/pyright
  node_modules/.bin/pyright-langserver
  node_modules/.package-lock.json
  node_modules/pyright/LICENSE.txt
  node_modules/pyright/README.md
  node_modules/pyright/index.js
  node_modules/pyright/langserver.index.js
  node_modules/pyright/package.json
Due: none

Refactor backups module and implement internal backup helpers
  .secrets.baseline
  researcharr/__init__.py
  researcharr/_backups_impl.py
  researcharr/_factory_proxy.py
  researcharr/_package_helpers.py
  researcharr/async_pipeline.py
  researcharr/backups.py
  researcharr/backups_impl.py
  researcharr/factory.py
  researcharr/researcharr.py
Due: multi-version-test

refactor(backups): improve code readability and formatting in backup functions
  researcharr/_backups_impl.py
  researcharr/_factory_proxy.py
  researcharr/_package_helpers.py
  researcharr/backups_impl.py
Due: multi-version-test

feat(precommit): add mypy and pyright scripts for type checking in pre-commit hooks
  scripts/run-mypy-precommit.sh
  scripts/run-pyright-precommit.sh
  scripts/run-pytest-precommit.sh
Due: shellcheck

feat(static): add new banner and logo images in various formats
  static/banner.jpg
  static/banner.png
  static/banner.webp
  static/logo.jpg
  static/logo.png
  static/logo.webp
  static/logo.xcf
Due: none

Add comprehensive tests for API endpoints and application behavior
  tests/conftest.py
  tests/test_api_endpoints.py
  tests/test_async_pipeline_backpressure.py
  tests/test_async_pipeline_config.py
  tests/test_async_pipeline_context_run.py
  tests/test_async_pipeline_env.py
  tests/test_async_pipeline_lifecycle.py
  tests/test_async_pipeline_monitoring.py
  tests/test_async_pipeline_progress.py
  tests/test_async_pipeline_prometheus.py
  tests/test_async_pipeline_registry_dlq.py
  tests/test_async_pipeline_template.py
  tests/test_async_pipeline_template_yaml.py
  tests/test_async_pipeline_template_yaml.py.new
  tests/test_async_pipeline_template_yaml2.py
  tests/test_backups.py
  tests/test_backups_batch1.py
  tests/test_backups_shim.py
  tests/test_backups_unit.py
  tests/test_factory_backups_edgecases.py
  tests/test_factory_batch1.py
  tests/test_factory_batch10.py
  tests/test_factory_batch2.py
  tests/test_factory_batch3.py
  tests/test_factory_batch4.py
  tests/test_factory_batch5.py
  tests/test_factory_batch6.py
  tests/test_factory_batch7.py
  tests/test_factory_batch8.py
  tests/test_factory_batch9.py
  tests/test_factory_coverage_boost.py
  tests/test_factory_deep_coverage.py
  tests/test_factory_helpers.py
  tests/test_factory_shim.py
  tests/test_factory_shim_behavior.py
  tests/test_factory_smoke.py
  tests/test_factory_unit.py
  tests/test_package_shims.py
  tests/test_researcharr_package.py
  tests/test_webui_helpers.py
Due: multi-version-test

test(backups): add smoke tests for basic API functionality and validation
  unit_tests/test_backups_smoke.py
Due: multi-version-test

chore: update .dockerignore and .gitignore to include additional file types and local virtualenvs
  .dockerignore
  .gitignore
Due: none

feat(precommit): replace mypy with pyright for type checking in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: correct type annotation for __path__ variable in __init__.py
  __init__.py
Due: multi-version-test

refactor(backups): simplify top-level shim and delegate to implementation module
  backups.py
Due: multi-version-test

feat(backups): add backwards-compatibility shim for top-level backups.py
  backups.py.disabled
Due: none

chore: add a comment header to docker-compose.yml for clarity
  docker-compose.yml
Due: none

feat(factory): enhance module import resilience and add pipeline loading functionality
  factory.py
Due: multi-version-test
