Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$

feat(__init__): improve module spec handling and code readability for better maintainability
  researcharr/__init__.py
Due: multi-version-test

feat(factory): improve code readability by restructuring import statements and lambda functions
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(conftest): reorganize import statements for improved clarity and consistency
  tests/conftest.py
Due: multi-version-test

feat(backups): add a blank line for improved readability in the create_backup_file function
  backups.py
Due: multi-version-test

feat(factory): restructure import statement for improved clarity in create_app function
  factory.py
Due: multi-version-test

feat(__init__): enhance module loading logic to preserve legacy import behavior for top-level modules
  researcharr/__init__.py
Due: multi-version-test

feat(factory): refine proxy creation logic to preserve legacy behavior for 'backups' module and enhance self-healing of create_app delegate
  researcharr/_factory_proxy.py
Due: multi-version-test

feat(factory): enhance create_app delegate installation and late access handling for improved stability
  researcharr/factory.py
Due: multi-version-test

refactor(tests): update test cases for improved clarity and consistency in configuration handling
  tests/test_api_endpoints.py
  tests/test_async_pipeline_prometheus.py
  tests/test_factory_backups_edgecases.py
  tests/test_factory_batch1.py
Due: multi-version-test

feat(__init__): implement early installation of factory/webui/backups shims and stable create_app delegate for deterministic imports
  __init__.py
Due: multi-version-test

fix(tests): correct import path for api module in test_api_endpoints
  tests/test_api_endpoints.py
Due: multi-version-test

deploy: 04847ab6e9ef9adfcb2c47a6a5cebd9469e59b3e
  previews/feature-processing_pipeline_framework/index.html
  previews/feature-processing_pipeline_framework/sitemap.xml.gz
Due: none

fix(tests): use relative paths for factory shim tests instead of hardcoded absolute paths
  tests/test_factory_shim.py
  tests/test_factory_shim_behavior.py
Due: multi-version-test

fix(backups): import _backups_impl as backups_impl to use minimal implementation
  researcharr/backups.py
Due: multi-version-test

deploy: 87171d88be207083f0c582fa493713bd8502b31a
  previews/feature-processing_pipeline_framework/index.html
Due: none

fix(backups): use correct backups_impl import in researcharr/backups.py shim
  researcharr/backups.py
Due: multi-version-test

deploy: 7ebd1896d5588c34ee518ade86750ee4eb197e5d
  previews/feature-processing_pipeline_framework/index.html
Due: none

refactor(tests): remove obsolete backup and run module test files
  tests/test_backups_shim.py
  tests/test_backups_unit.py
  tests/test_run_consolidated.py
Due: multi-version-test

fix(tests): update pytest command to include coverage reporting and remove maxfail option
  scripts/run-pytest-precommit.sh
Due: shellcheck

refactor(settings): clean up .vscode/settings.json by removing obsolete configurations
  .vscode/settings.json
Due: none

Implement feature X to enhance user experience and optimize performance
  coverage.json
Due: none

fix(coverage): increase coverage fail_under threshold from 60.0 to 65.0
  pyproject.toml
Due: none

fix(init): explicitly define __all__ for static analysis and improve import error handling
  __init__.py
Due: multi-version-test

Implement feature X to enhance user experience and fix bug Y in module Z
  coverage.json
Due: none

Add comprehensive tests for services, targeted coverage, and webui shim
  tests/test_application_coverage.py
  tests/test_backups_coverage_boost.py
  tests/test_backups_impl.py
  tests/test_backups_integration.py
  tests/test_core_api_new.py
  tests/test_core_api_smoke.py
  tests/test_db_coverage.py
  tests/test_factory_shim.py
  tests/test_factory_shim_behavior.py
  tests/test_factory_shim_new.py
  tests/test_high_impact_coverage.py
  tests/test_lifecycle_coverage.py
  tests/test_package_helpers.py
  tests/test_plugins_shim.py
  tests/test_plugins_smoke.py
  tests/test_root_module_serve_smoke.py
  tests/test_root_module_smoke.py
  tests/test_run.py
  tests/test_services_smoke.py
  tests/test_targeted_coverage.py
  tests/test_webui_shim.py
Due: multi-version-test

fix(gitignore): update coverage report handling and add additional tooling caches
  .gitignore
Due: none

fix(dockerignore): add ruff_cache, htmlcov, and coverage.json to ignore list
  .dockerignore
Due: none

fix(gitignore): update coverage report handling to include coverage.json
  .gitignore
Due: none

fix(codecov): update ignore patterns to exclude additional test directories and coverage files
  codecov.yml
Due: none

fix(workflows): consolidate and disable CI workflows; use main CI instead
  .github/workflows/ci-build.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-tests-only.yml
  .github/workflows/ci.yml
  .github/workflows/publish-debug-image.yml
  .github/workflows/publish-images.yml
Due: none

Refactor tests for improved readability and consistency
  tests/test_application_coverage.py
  tests/test_backups_coverage_boost.py
  tests/test_backups_impl.py
  tests/test_backups_integration.py
  tests/test_core_api_new.py
  tests/test_core_api_smoke.py
  tests/test_db_coverage.py
  tests/test_factory_shim_new.py
  tests/test_high_impact_coverage.py
  tests/test_lifecycle_coverage.py
  tests/test_package_helpers.py
  tests/test_plugins_shim.py
  tests/test_root_module_serve_smoke.py
  tests/test_root_module_smoke.py
  tests/test_run.py
  tests/test_services_smoke.py
  tests/test_targeted_coverage.py
  tests/test_webui_shim.py
Due: multi-version-test

refactor(tests): clean up imports and improve test readability across multiple test files
  tests/test_application_coverage.py
  tests/test_backups_impl.py
  tests/test_backups_integration.py
  tests/test_db_coverage.py
  tests/test_high_impact_coverage.py
  tests/test_lifecycle_coverage.py
  tests/test_root_module_serve_smoke.py
  tests/test_run.py
  tests/test_webui_shim.py
Due: multi-version-test

Fix test failures: backups pruning, lifecycle hooks, stat errors, logging, webui shim
  plugins/__init__.py
  researcharr/_backups_impl.py
  researcharr/_factory_proxy.py
  researcharr/_package_helpers.py
  researcharr/backups.py
  researcharr/backups_impl.py
  researcharr/core/application.py
  researcharr/core/lifecycle.py
  researcharr/core/services.py
  researcharr/run.py
  researcharr/webui.py
  run.py
  tests/test_application_coverage.py
  tests/test_backups_integration.py
  tests/test_core_lifecycle.py
  tests/test_factory_shim_new.py
  tests/test_package_helpers.py
  tests/test_package_shims.py
  tests/test_plugins_shim.py
  tests/test_run.py
  tests/test_targeted_coverage.py
  tests/test_webui_helpers.py
  tests/test_webui_shim.py
  webui.py
Due: multi-version-test

Fix test failures: backups pruning, lifecycle hooks, webui helpers, metrics app wrapper
  .github/workflows/ci.yml
  coverage.json
  researcharr/_package_helpers.py
  researcharr/backups.py
  researcharr/backups_impl.py
  researcharr/core/services.py
  researcharr/run.py
  researcharr/webui.py
  tests/test_application_coverage.py
  tests/test_backups_impl.py
  tests/test_backups_integration.py
  tests/test_factory_shim_new.py
  tests/test_high_impact_coverage.py
  tests/test_lifecycle_coverage.py
  tests/test_package_helpers.py
  tests/test_plugins_shim.py
  tests/test_root_module_serve_smoke.py
  tests/test_run.py
  tests/test_targeted_coverage.py
  tests/test_webui_shim.py
  webui.py
Due: multi-version-test

deploy: 416c90fdd32bcf424ebd5f5d2a855c6d754fecee
  previews/feature-processing_pipeline_framework/index.html
Due: none
