Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck, detect-secrets

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
  detect-secrets: any of: ^(?!tests/|node_modules/).*

refactor(config-validator): streamline type and pattern checks in validation logic
  researcharr/core/config_validator.py
Due: multi-version-test, detect-secrets

fix(lifecycle): replace generic Exception with RuntimeError for critical startup hook failures
  researcharr/core/lifecycle.py
Due: multi-version-test, detect-secrets

refactor(logging): simplify check for existing FileHandler in logger
  researcharr/core/logging.py
Due: multi-version-test, detect-secrets

refactor(scheduler, monitoring): streamline initialization checks for scheduler and monitors
  researcharr/core/services.py
Due: multi-version-test, detect-secrets

refactor(init): remove redundant default value in _create_app_delegate retrieval
  researcharr/__init__.py
Due: multi-version-test, detect-secrets

fix(backup): use missing_ok=True for safer deletion of existing backup files
  researcharr/_backups_impl.py
Due: multi-version-test, detect-secrets

refactor(proxy): optimize short name module registration logic
  researcharr/_factory_proxy.py
Due: multi-version-test, detect-secrets

refactor(backup_restore): simplify rollback logic and integrity check handling
  researcharr/backup_restore.py
Due: multi-version-test, detect-secrets

fix(backups): replace generic exceptions with specific FileNotFoundError and ValueError
  researcharr/backups_impl.py
Due: multi-version-test, detect-secrets

fix(backup): remove redundant existence check in validate_backup_file function
  researcharr/_backups_impl.py
Due: multi-version-test, detect-secrets

fix(backup): remove redundant existence check in create_backup_file function
  researcharr/backups_impl.py
Due: multi-version-test, detect-secrets

refactor(scheduler): update method signatures to use variable arguments for flexibility
  scripts/run.py
Due: multi-version-test, detect-secrets

fix(config_validator): improve readability of string pattern validation logic
  researcharr/core/config_validator.py
Due: multi-version-test, detect-secrets

fix(monitoring_service): improve readability of conditional statement in monitor initialization
  researcharr/core/services.py
Due: multi-version-test, detect-secrets

fix(secrets): update line number for hashed secret and refresh generated timestamp
  .secrets.baseline
Due: detect-secrets

fix(application): improve core application factory documentation and structure
  researcharr/core/application.py
Due: multi-version-test, detect-secrets

fix(secrets): update line numbers for hashed secrets and refresh generated timestamp
  .secrets.baseline
Due: detect-secrets

deploy: f27e4ea3ac9bcdd979b7de4d1f8b60e2d1c4f50b
  previews/development/404.html
  previews/development/API/index.html
  previews/development/Backup-and-Recovery/index.html
  previews/development/CI-and-Development/index.html
  previews/development/CLI-Usage/index.html
  previews/development/CONFIGURATION/index.html
  previews/development/Changelog/index.html
  previews/development/Contributing/index.html
  previews/development/Coverage-CI-Local-Differences/index.html
  previews/development/Coverage-Gutters-Example-Comparison/index.html
  previews/development/Coverage-Gutters-Quick-Reference/index.html
  previews/development/Coverage-Gutters-Quick-Start/index.html
  previews/development/Coverage-Gutters-Setup/index.html
  previews/development/DEV/index.html
  previews/development/Deployment-and-Resources/index.html
  previews/development/Environment-Variables/index.html
  previews/development/FAQ/index.html
  previews/development/Getting-Started/index.html
  previews/development/Health-and-Metrics/index.html
  previews/development/Integrations/index.html
  previews/development/Logs/index.html
  previews/development/Packaging-and-Distribution/index.html
  previews/development/Plugins/index.html
  previews/development/Recent-Changes/index.html
  previews/development/Renovate-Configuration/index.html
  previews/development/Roadmap/index.html
  previews/development/SERVICES_ARCHITECTURE/index.html
  previews/development/Status-and-Warnings/index.html
  previews/development/Versioning/index.html
  previews/development/WHEELHOUSE/index.html
  previews/development/index.html
  previews/development/sitemap.xml.gz
  previews/development/tooling-experiments/index.html
Due: detect-secrets

docs(tooling-experiments): add section on handling blocked PRs due to verified commit requirement
  docs/tooling-experiments.md
Due: detect-secrets

fix(tests): enhance error handling in configuration tests by mocking built-in open function
  tests/misc/test_miscellaneous_consolidated.py
Due: multi-version-test

fix(secrets): update line number for hashed secret and refresh generated timestamp in .secrets.baseline
  .gitignore
  .secrets.baseline
Due: detect-secrets

deploy: 3c2689610ade6670ba444fe9fd55b2e0b08509e5
  previews/development/index.html
  previews/development/sitemap.xml.gz
  previews/development/tooling-experiments/index.html
Due: detect-secrets

ci: integrate wheel build/test and remove redundant workflow; purge malformed long filename artifacts
  .github/workflows/ci.yml
Due: detect-secrets

chore: apply pre-commit formatting after CI workflow integration
  .github/workflows/ci-wheels-and-test.yml
Due: detect-secrets

chore: add filename sanity pre-commit and Renovate branch cleanup script
  .pre-commit-config.yaml
  scripts/check_filename_sanity.py
  scripts/cleanup-renovate-branches.sh
Due: multi-version-test, shellcheck, detect-secrets

fix(tests): adjust sys.modules patching to avoid breaking stdlib under coverage
  scripts/check_filename_sanity.py
  tests/package/test_package_helpers.py
Due: multi-version-test, detect-secrets

deploy: 352212aae511a1a2a4af2ec43a6356b3a37e5086
  previews/development/index.html
  previews/development/sitemap.xml.gz
Due: detect-secrets

test: fix Python 3.14 sys.modules patch and clean malformed files
  "\"\\\", getattr(pkg,create_metrics_app))\\\\n# Now call serve() via the imported researcharr (package)\\\\ntry:\\\\n    researcharr.serve()\\\\n    print(After\\\"\""
  "\"\\\", getattr(pkg,create_metrics_app))\\\\ntry:\\\\n    researcharr.serve()\\\\n    print(After\\\"\""
  "\"\\\", sys.modules.get(researcharr))\\\\nprint(module\\\"\""
  "\"\\\", sys.modules.get(researcharr.researcharr))\\\\n# set patch on package module\\\\npkg = sys.modules.get(researcharr)\\\\nif pkg is not None:\\\\n    pkg.create_metrics_app = MagicMock(name=pkg_create)\\\\n    print(patched\\\"\""
  "\"\\\", sys.modules.get(researcharr.researcharr))\\\\npkg = sys.modules.get(researcharr)\\\\nif pkg is not None:\\\\n    pkg.create_metrics_app = MagicMock(name=pkg_create)\\\\n    print(patched\\\"\""
  .pre-commit-config.yaml
  scripts/check_filename_sanity.py
  scripts/cleanup-renovate-branches.sh
Due: multi-version-test, shellcheck, detect-secrets

deploy: 428445d007cd73d59d104f1b9dafccc477d4a0d3
  previews/development/index.html
  previews/development/sitemap.xml.gz
Due: detect-secrets

feat: add pre-commit hook to prevent malformed filenames
  .pre-commit-config.yaml
  scripts/check-filename-sanity.sh
Due: shellcheck, detect-secrets

deploy: a0ea77011d17e299ccff8200fbcb63e82c33d218
  previews/development/index.html
  previews/development/sitemap.xml.gz
Due: detect-secrets

feat: add initial architecture design for job queue and task management
  docs/architecture/JOB_QUEUE_DESIGN.md
Due: detect-secrets

feat: add quick start guide for job queue system
  docs/JOB_QUEUE_QUICKSTART.md
Due: detect-secrets

feat: add example for job queue with EventBus integration
  examples/job_eventbus_integration.py
Due: multi-version-test, detect-secrets

feat: add example integration for job queue with backup and media processing
  examples/job_queue_integration.py
Due: multi-version-test, detect-secrets

feat: implement job queue and task management module
  researcharr/core/jobs/__init__.py
Due: multi-version-test, detect-secrets

feat: add job queue API endpoints for managing jobs and workers
  researcharr/core/jobs/api.py
Due: multi-version-test, detect-secrets
