Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$

Clean up trailing whitespace in multi-version test script and tox config
  scripts/multi-version-test.sh
  tox.ini
Due: shellcheck

deploy: 08b321b39b197a33df849f6110f1f37cd96df6e4
  index.html
  sitemap.xml.gz
Due: none

deploy: 15cd7779bd52e3231a72e46d584929283bcbe333
  404.html
  API/index.html
  CI-and-Development/index.html
  Changelog/index.html
  Contributing/index.html
  Coverage-Gutters-Example-Comparison/index.html
  Coverage-Gutters-Quick-Reference/index.html
  Coverage-Gutters-Quick-Start/index.html
  Coverage-Gutters-Setup/index.html
  DEV/index.html
  Deployment-and-Resources/index.html
  Environment-Variables/index.html
  FAQ/index.html
  Getting-Started/index.html
  Health-and-Metrics/index.html
  Integrations/index.html
  Logs/index.html
  Plugins/index.html
  Recent-Changes/index.html
  Roadmap/index.html
  Status-and-Warnings/index.html
  Versioning/index.html
  index.html
Due: none

deploy: 102e7ffbf010fb21fea9abb105b9a127bf02b2fe
  404.html
  API/index.html
  CI-and-Development/index.html
  Changelog/index.html
  Contributing/index.html
  Coverage-Gutters-Example-Comparison/index.html
  Coverage-Gutters-Quick-Reference/index.html
  Coverage-Gutters-Quick-Start/index.html
  Coverage-Gutters-Setup/index.html
  DEV/index.html
  Deployment-and-Resources/index.html
  Environment-Variables/index.html
  FAQ/index.html
  Getting-Started/index.html
  Health-and-Metrics/index.html
  Integrations/index.html
  Logs/index.html
  Packaging-and-Distribution/index.html
  Plugins/index.html
  Recent-Changes/index.html
  Renovate-Configuration/index.html
  Roadmap/index.html
  Status-and-Warnings/index.html
  Versioning/index.html
  index.html
Due: none

Update test configurations and improve coverage reporting
  pyproject.toml
  tests/test_researcharr_root_module.py
Due: multi-version-test

deploy: dc5445a8dd3ef9f2114a1199d9209446414e5f50
  index.html
Due: none

feat: Add comprehensive GitHub Projects v2 automation and issue tracking
  .github/PRIORITY_SETUP_GUIDE.md
  .github/PROJECT_BOARD_SETUP.md
  .github/workflows/ci-build.yml
  .github/workflows/ci-tests-only.yml
  .github/workflows/ci.yml
  .github/workflows/create-beta-issues.yml
  .github/workflows/create-project.yml
  .github/workflows/project-automation.yml
  .github/workflows/sync-project.yml
  BETA_ROADMAP.md
  PROJECT_STRUCTURE_SUMMARY.md
  researcharr.py
  scripts/create-alpha-development-issues.py
  scripts/create-beta-issues.py
  scripts/create-core-engine-subissues.py
  scripts/create-core-stability-subissues.py
  tests/test_api_consolidated.py
  tests/test_researcharr_root_module.py
Due: multi-version-test

Fix test file linting issues
  tests/test_backups_integration.py
  tests/test_factory_consolidated.py
  tests/test_miscellaneous_consolidated.py
  tests/test_researcharr_package.py
  tests/test_researcharr_root_module.py
Due: multi-version-test

deploy: 2c35a50d5d67b348edda7830ccc13f9a199d140c
  index.html
Due: none

deploy: d5e84c5f3d01a9cb2efae9f5d8939208b032d13d
  index.html
Due: none

Add manual workflow triggers and issue sync workflow
  .github/workflows/project-automation.yml
  .github/workflows/sync-issues-to-project.yml
  scripts/add-issues-to-project.py
Due: multi-version-test

deploy: 84b0f8b1335f8d21d3ad7c4aef79c6b7e16c9845
  index.html
Due: none

Add PAT support and enhanced project automation
  .github/workflows/add-all-issues-to-project.yml
  .github/workflows/project-automation.yml
  .github/workflows/sync-issues-to-project.yml
  PAT_SETUP_GUIDE.md
Due: none

deploy: de882393342bf8582ef49824bf3694d9bffa8daa
  index.html
Due: none

Document automation status and improve error handling
  .github/workflows/project-automation.yml
  AUTOMATION_STATUS.md
Due: none

deploy: 2d6439122eeab1bdb4650cd31fc100b2fd7aba04
  index.html
Due: none

Fix: Correct GraphQL query for user project instead of organization
  .github/workflows/project-automation.yml
Due: none

Fix: Pre-commit auto-fixes
  .github/workflows/add-all-issues-to-project.yml
  .github/workflows/project-automation.yml
  .github/workflows/sync-issues-to-project.yml
  AUTOMATION_STATUS.md
  PAT_SETUP_GUIDE.md
  scripts/add-issues-to-project.py
Due: multi-version-test

deploy: 4c9bd8ea4b23bc386b384cdf9a9c3c6d4bdacc03
  index.html
Due: none

Clean: Remove duplicate project automation steps
  .github/workflows/project-automation.yml
Due: none

deploy: 1673ab0e9e51f93d882e262fc8e17bb27e5895d9
  index.html
Due: none

Fix: Update all organization.projectV2 references to user.projectV2
  .github/workflows/project-automation.yml
Due: none

deploy: 4c38b56686ce4f3e674ad8f77da5b1023c1cb5b5
  index.html
Due: none

feat: Complete core application architecture implementation (#105)
  researcharr/core/ARCHITECTURE.md
  researcharr/core/__init__.py
  researcharr/core/api.py
  researcharr/core/application.py
  researcharr/core/config.py
  researcharr/core/container.py
  researcharr/core/events.py
  researcharr/core/lifecycle.py
  researcharr/core/services.py
  tests/test_core_application.py
  tests/test_core_config.py
  tests/test_core_container.py
  tests/test_core_events.py
  tests/test_core_lifecycle.py
  tests/test_core_services.py
Due: multi-version-test

docs: Add Projects Token Migration Summary and update workflow references
  PROJECTS_TOKEN_MIGRATION.md
Due: none

deploy: e5ed1a5cc6455413f5e82ea5bcfa6557ba29828b
  previews/feature-core-architecture-issue-105-clean/index.html
Due: none

fix: resolve pre-commit issues - line length and type annotations
  researcharr/core/config.py
  researcharr/core/events.py
  tests/test_core_application.py
  tests/test_core_config.py
Due: multi-version-test

deploy: 040b411baae5bdf735097cb93e13da942f4ff997
  previews/feature-core-architecture-issue-105-clean/index.html
Due: none

deploy: 82ad161d92035f28dc0daac54488bdfd69ee799c
  previews/feature-media-discovery-issue-106/index.html
Due: none

deploy: 4086732a42366f6fb84858b60f506ea1f122bd3d
  previews/feature-media-discovery-issue-106/index.html
Due: none

deploy: 5ef1d0bbf619af7b96ca9ed5e939d2dfb5f11130
  previews/feature-media-discovery-issue-106/index.html
Due: none

deploy: 4a778f67f75b01812bbcbb5e360e807031d929ea
  previews/feature-media-discovery-issue-106/index.html
Due: none
