Repository Wikid82/researcharr: changes, and which pre-commit hooks are due for each by the changed paths.
All: multi-version-test, shellcheck

multi-version-test:
  name: multi-version Python compatibility test
  entry: scripts/multi-version-test.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

shellcheck:
  name: shellcheck (local wrapper)
  entry: scripts/run-shellcheck.sh
  language: script
  stages:
  - pre-commit

fix: Apply same pre-commit fix to ci-build.yml workflow
  .github/workflows/ci-build.yml
Due: none

style: Apply pre-commit formatting fixes
  researcharr/core/__init__.py
  researcharr/core/api.py
  researcharr/core/application.py
  researcharr/core/config.py
  researcharr/core/container.py
  researcharr/core/events.py
  researcharr/core/lifecycle.py
  researcharr/core/services.py
  tests/test_core_application.py
  tests/test_core_config.py
  tests/test_core_events.py
  tests/test_core_lifecycle.py
  tests/test_core_services.py
Due: multi-version-test

Add type checking and linting configuration files
  .pylintrc
  flask.pyi
  pyrightconfig.json
  tests/_debug_import.py
Due: multi-version-test

Format flask.pyi and debug import file
  flask.pyi
  tests/_debug_import.py
Due: multi-version-test

feat: Add initial project_data.json with error structure
  project_data.json
Due: none

fix: Ensure newline at end of project_data.json and simplify CI coverage checks
  .github/workflows/ci.yml
  project_data.json
Due: none

deploy: a01aa5ac275cc392932b95565afcd58350cf9247
  index.html
Due: none

deploy: 790b582472cf5a20e4599aca3a7493698cf0e62f
  index.html
Due: none

fix: Update test references to match the correct module and database paths
  tests/test_researcharr_root_module.py
Due: multi-version-test

fix: Remove unnecessary blank lines in test cases for improved readability
  tests/test_researcharr_root_module.py
Due: multi-version-test

Track workspace settings: enable YAML validation and pyright alignment
  .github/scripts/ghcr_cleanup.py
  .vscode/settings.json
  backups.py
  factory.py
  flask_testing_stubs.pyi
  nonexistent_module.py
  plugins/base.py
  plugins/media/example_radarr.py
  plugins/media/example_sonarr.py
  plugins/notifications/example_apprise.py
  pyrightconfig.json
  researcharr/__init__.py
  researcharr/__init__.pyi
  researcharr/backups.py
  researcharr/core/application.py
  researcharr/core/services.py
  researcharr/db.py
  researcharr/researcharr.py
  researcharr/researcharr.pyi
  researcharr/run.pyi
  run.pyi
  tests/test_api_consolidated.py
  tests/test_backups_comprehensive.py
  tests/test_backups_integration.py
  tests/test_factory_comprehensive.py
  tests/test_factory_consolidated.py
  tests/test_miscellaneous_consolidated.py
  tests/test_researcharr_package.py
  tests/test_researcharr_root_module.py
  tests/test_researcharr_root_simple.py
  tests/test_webui_consolidated.py
Due: multi-version-test

feat: Add VSCode configuration files for improved development experience
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Due: none

fix: Update line numbers in .secrets.baseline and improve formatting in various files
  .secrets.baseline
  .vscode/settings.json
  .vscode/tasks.json
  factory.py
  flask_testing_stubs.pyi
  researcharr/__init__.py
  researcharr/__init__.pyi
  researcharr/backups.py
  researcharr/researcharr.py
  researcharr/researcharr.pyi
  researcharr/run.pyi
  run.pyi
  tests/test_backups_comprehensive.py
  tests/test_researcharr_root_module.py
Due: multi-version-test

fix: Refactor import statements for clarity and consistency in __init__.py
  researcharr/__init__.py
Due: multi-version-test

Mark intentional re-exports with noqa to satisfy Ruff
  researcharr/__init__.py
Due: multi-version-test

deploy: e3f79462603851eabdf0401c7f15352de9ebeffa
  index.html
Due: none

fix: Update isort version to 5.12.0 in requirements-dev.txt
  requirements-dev.txt
Due: none

deploy: 74bfb789f4db902523a6288daf573b5de2dd76d6
  index.html
Due: none

Add detect-secrets baseline to allowlist existing false positives
  .secrets.baseline
Due: none

Pre-commit: add mypy additional_dependencies for types and fix import ordering
  .pre-commit-config.yaml
  researcharr/__init__.py
Due: multi-version-test

Fix ruff F401 by making re-exports explicit single-line imports with proper noqa
  researcharr/__init__.py
Due: multi-version-test

Run isort fixes from pre-commit
  researcharr/__init__.py
Due: multi-version-test

Add default request timeouts to avoid Bandit B113 warnings
  .github/scripts/ghcr_cleanup.py
  entrypoint.py
  researcharr.py
  researcharr/researcharr.py
Due: multi-version-test

Annotate intentional security exceptions for Bandit: add nosec to subprocess, bind-all, and dev-secret defaults
  factory.py
  researcharr.py
  researcharr/researcharr.py
  researcharr/run.py
Due: multi-version-test

Bandit: annotate remaining intentional bind-all and subprocess usages
  researcharr/core/services.py
  run.py
Due: multi-version-test

CI: drop Python 3.9, add 3.14; update isort to 7.0.0 in dev requirements and local scripts
  .github/workflows/ci-tests-only.yml
  .github/workflows/ci.yml
  requirements-dev.txt
  scripts/ci-local.sh
  scripts/multi-version-test.sh
Due: shellcheck

Remove overloads for check_radarr_connection and check_sonarr_connection functions in type hints
  researcharr/researcharr.pyi
Due: multi-version-test

deploy: 5469d3ed2620d31320981c0be8b79068c5cde4d9
  index.html
Due: none

pre-commit: fix hooks — add mypy (system), bandit nosec for app.run, run.py fallback load_config, update detect-secrets baseline and formatting fixes
  , getattr(pkg,create_metrics_app)) # Now call serve() via the imported researcharr (package) try:     researcharr.serve()     print(After
  , getattr(pkg,create_metrics_app)) try:     researcharr.serve()     print(After
  , sys.modules.get(researcharr)) print(module
  , sys.modules.get(researcharr.researcharr)) # set patch on package module pkg = sys.modules.get(researcharr) if pkg is not None:     pkg.create_metrics_app = MagicMock(name=pkg_create)     print(patched
  , sys.modules.get(researcharr.researcharr)) pkg = sys.modules.get(researcharr) if pkg is not None:     pkg.create_metrics_app = MagicMock(name=pkg_create)     print(patched
  .pre-commit-config.yaml
  .secrets.baseline
  __init__.py
  backups.py
  entrypoint.py
  factory.py
  pyproject.toml
  researcharr.py
  researcharr/__init__.py
  researcharr/db.py
  researcharr/factory.py
  researcharr/researcharr.py
  researcharr/tests/__init__.py
  run.py
  schedule.py
  scripts/run-pytest-precommit.sh
  scripts/run_tests_individual.py
  sitecustomize.py
  tests/conftest.py
  tests/test_root_researcharr_comprehensive.py
  tests/tmp_debug_pytest.py
  tox.ini
Due: multi-version-test, shellcheck

style: apply black/isort auto-fixes + add fallback load_config to researcharr.run
  researcharr/run.py
  run.py
  schedule.py
  scripts/run_tests_individual.py
  tests/tmp_debug_pytest.py
Due: multi-version-test

test: expose schedule symbol and add minimal setup_scheduler in researcharr.run
  researcharr/run.py
Due: multi-version-test

Path conditions:
  multi-version-test: any of: ^(researcharr/|tests/|.*\.py$)
  shellcheck: any of: \.sh$
